.section-news {
  &__btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .swiper-news-btn {
      .svgbott {
        display: none;
      }
    }
  }

  &__link {
    padding: 17px;
    max-width: 244px;
    width: 100%;
    border: 1px solid var(--violet);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white) !important;
    background-color: var(--black);
    transition: border-color 0.4s ease-in-out;

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      border-color: var(--black);
    }
  }
}

@media (max-width: 1100px) {
  .section-news {
    &__box-swiper {
      margin: 0 -24px;
    }

    &__btn-group {
      padding: 0 24px;
    }
  }
}

@media (max-width: 1000px) {
  .section-news {
    &__box-swiper {
      margin: 0 -16px;
    }

    &__btn-group {
      padding: 0 16px;
    }
  }
}

@media (max-width: 710px) {
  .section-news {
    &__btn-group {
      flex-direction: column-reverse;
      gap: 8px;
      .swiper-news-btns {
        width: 100%;
      }

      .swiper-news-btn {
        flex: 1;
        width: auto;
        min-width: auto;
        height: 52px;
        background-color: var(--pink);
        .svgtop {
          display: none;
        }
        .svgbott {
          display: block;
        }
      }
    }

    &__link {
      min-height: 52px;
      padding: 12px;
      font-size: 14px;
      width: 100%;
      max-width: 100%;
      background-color: var(--black);
    }
  }
}