.card-shop {
  position: relative;
  z-index: 3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: transform 0.4s ease-in-out;
  &::before {
    content: '';
    display: block;
    padding-top: 93.5%;
  }
  &:has(.card-shop__link:hover) {
    transform: translate(-16px, -16px);
  }
  &__link {
    padding: 52px 52px 38px;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: bottom right, center center;
    background-size: 278px 215px, cover;
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      .corner {
        opacity: 1;
      }
    }
    .corner {
      position: absolute;
      inset: 0 -16px -16px 0;
      z-index: -1;
      background-color: transparent;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__img {
  }
  &__title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 36px;
    color: var(--white);
  }
}

@media (max-width: 1400px) {
  .card-shop {
    &__link {
      padding: 28px;
    }
  }
}

@media (max-width: 1100px) {
  .card-shop {
    &::before {
      padding-top: 95.5%;
    }
    &:has(.card-shop__link:hover) {
      transform: none;
    }
    &__link {
      background-size: 170px 140px, cover;
      .corner {
        display: none;
      }
    }
    &__title {
      font-size: 28px;
    }
  }
}

@media (max-width: 1000px) {
  .card-shop {
    max-height: 237px;
    &__link {
      .corner {
        display: none;
      }
    }
  }
}

@media (max-width: 710px) {
  .card-shop {
    &__title {
      font-size: 22px;
    }
    &__link {
      background-size: 152px 94px;
    }
  }
}