.card-services {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
  &:hover {
    .card-services__img {
      transform: scale(1.2);
    }
    .card-services__bottom {
      background-color: var(--pink);
    }
    .card-services__link {
      color: var(--white);
      &::before {
        border-color: var(--white);
      }
    }
  }
  &__top {
    position: relative;
    &::before {
      content: '';
      display: block;
      padding-top: 64%;
    }
  }
  &__img {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
    &-svg {
      position: absolute;
      top: 52px;
      left: 52px;
      z-index: 2;
      max-width: calc(100% - 104px);
    }
  }
  &__bottom {
    flex: 1;
    position: relative;
    padding: 52px;
    transition: background-color 0.4s ease-in-out;
    background-color: var(--black);
  }
  &__link-title {
    position: absolute;
    inset: 0;
    .title {
      display: none;
    }
  }
  &__box-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: var(--white);
      &.main-desc {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 28px;
        color: var(--white);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 2.4em;
        line-height: 1.2em;
      }
      &.desc {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        //line-height: 120%;
        color: var(--white);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 3.6em;
        line-height: 1.2em;
      }
    }
  }
  &__link {
    position: relative;
    z-index: 2;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--pink);
    transition: color 0.4s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      inset: 0 0 -2px;
      border-bottom: 1px solid var(--pink);
      transition: border-color 0.4s ease-in-out;
    }

    &:focus,&:focus-visible {
      outline: none;
    }

    &:focus-visible,&:hover,&:active {
      color: var(--white);
      &::before {
        border-color: var(--white);
      }
    }
  }
}

@media (max-width: 1100px) {
  .card-services {
    &__top {
      &::before {
        padding-top: 70%;
      }
    }
    &__img {
      &-svg {
        top: 28px;
        left: 28px;
        max-width: calc(100% - 56px);
      }
    }
    &__bottom {
      padding: 28px;
    }
    &__box-info {
      gap: 24px;
    }
    &__desc {
      gap: 5px;
      p {
        font-size: 16px;
        &.main-desc {
          font-size: 20px;
        }
        &.desc {
          font-size: 16px;
        }
      }
    }
    &__link {
      font-size: 18px;
    }
  }
}

@media (max-width: 710px) {
  .card-services {
    &__top {
      &::before {
        padding-top: 75%;
      }
    }
    &__bottom {
      padding: 24px;
      min-height: 207px;
    }
    &__box-info {
      gap: 19px;
    }
    &__desc {
      font-size: 18px;
      gap: 11px;
      p {
        font-size: 14px;
      }
      p.main-desc {
        font-size: 18px;
      }
      p.desc {
        font-size: 14px;
        -webkit-line-clamp: 4;
        max-height: 4.8em;
      }
    }
    &__link {
      font-size: 16px;
    }
  }
}