.card-news {
  position: relative;
  &__time {
    position: absolute;
    pointer-events: none;
    top: 32px;
    left: 32px;
    z-index: 2;
    padding: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    min-width: 138px;
    line-height: 100%;
    text-align: center;
    color: var(--white);
    background-color: var(--pink);
  }
  &__link {
    display: flex;
    flex-direction: column;
    gap: 28px;
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      .card-news__title {
        color: var(--pink);
      }
    }
  }
  &__box-img {
    position: relative;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  &__img {
    position: absolute;
    inset: 0;
  }
  &__title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 28px;
    color: #f4f4f4;
    transition: color 0.4s ease-in-out;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.4em;
    line-height: 1.2em;
  }
}

@media (max-width: 1100px) {
  .card-news {
    &__time {
      top: 24px;
      left: 24px;
    }
    &__link {
      gap: 24px;
    }
    &__title {
      font-size: 24px;
    }
  }
}

@media (max-width: 710px) {
  .card-news {
    &__time {
      top: 16px;
      left: 16px;
      font-size: 14px;
      min-width: 122px;
    }
    &__link {
      gap: 12px;
    }
    &__title {
      font-size: 18px;
    }
  }
}