.section-student-reviews-p-s {
  margin-bottom: 142px;
  overflow: hidden;
}

@media (max-width: 1100px) {
  .section-student-reviews-p-s {
    margin-bottom: 103px;
  }
}

@media (max-width: 710px) {
  .section-student-reviews-p-s {
    margin-bottom: 75px;
  }
}