<div class="dropSearch">
  <button class="dropSearch__btn-open btn-reset">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
      <use xlink:href="img/sprite.svg#search"></use>
    </svg>
  </button>
  <div class="dropSearch__box">
    <form>
      <div class="dropSearch__wrapper">
        <button class="dropSearch__btn-submit btn-reset">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
        <input class="dropSearch__input" placeholder="Я ищу..." type="text">
        <button type="button" class="dropSearch__btn-close js-close btn-reset" aria-label="Закрыть поиск">
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
            <path d="M0.500111 7.57107L7.57118 0.500004M0.500111 0.500004L7.57118 7.57107" stroke="currentColor" stroke-linecap="round"/>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>