<div class="dropSearch">
  <button class="dropSearch__btn-open btn-reset">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
      <use xlink:href="img/sprite.svg#search"></use>
    </svg>
  </button>
  <div class="dropSearch__box">
    <form>
      <div class="dropSearch__wrapper">
        <button class="dropSearch__btn-submit btn-reset">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
        <input class="dropSearch__input" placeholder="Я ищу..." type="text">
      </div>
    </form>
  </div>
</div>