<div class="dropDown1">
  <a href="#" class="dropDown1__main-link">
    <span class="text">Услуги</span>
    <span class="svg">
      <svg width="13" height="10" viewBox="0 0 13 10" fill="none">
        <use xlink:href="img/sprite.svg#arrowDropDown1"></use>
      </svg>
    </span>
  </a>
  <div class="dropDown1__box-list">
    <ul class="dropDown1__list list-reset">
      <li>
        <a href="#" class="dropDown1__link">
          школа бариста
        </a>
      </li>
      <li>
        <a href="#" class="dropDown1__link">
          Кофе машина в аренду
        </a>
      </li>
      <li>
        <a href="#" class="dropDown1__link">
          Контрактная обжарка
        </a>
      </li>
      <li>
        <a href="#" class="dropDown1__link">
          Кофе оптом
        </a>
      </li>
    </ul>
  </div>
</div>