@charset "UTF-8";

.no-webp .send-feedback__window{
  background-image: url("../img/send-feedback/bg.png"); }

.send-feedback__window {
  max-width: 100%;
  width: 556px;
  padding: 40px;
  background-color: var(--violet, #381067);
  background-repeat: no-repeat;
  background-position: top right;
}

.send-feedback__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.send-feedback__title {
  max-width: 390px;
  color: var(--white, #FFF);
  font-family: var(--second-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.send-feedback__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.send-feedback__group .send-feedback__desc {
  color: rgba(255, 255, 255, 0.7);
}

.send-feedback__marker {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.send-feedback__desc {
  color: var(--white, #FFF);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.send-feedback__btn {
  padding: 5px 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  color: #FFF;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.36px;
  border-radius: 1.243px;
  background-color: var(--pink, #D9315A);
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.send-feedback__btn:focus,
.send-feedback__btn:focus-visible {
  outline: none;
}

.send-feedback__success-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

/* Стили для модалки */

.modal {
  display: none;
  /* Скрыта по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.7);
  /* Прозрачный фон */
  z-index: 9999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  padding: 60px 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal__body {
  position: relative;
  max-width: 100%;
  margin: auto 0;
}

/* Анимация для появления модалки */

.modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 0.3s ease-out;
          animation: fadeIn 0.3s ease-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.textarea-type-10 {
  resize: none;
  padding: 20px;
  border: 1px solid var(--gray-30, #D2D2D2);
  background-color: var(--white);
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  min-height: 288px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.textarea-type-10::-webkit-scrollbar {
  display: none;
}

.textarea-type-10::-webkit-input-placeholder {
  color: rgba(20, 20, 20, 0.5);
}

.textarea-type-10::-moz-placeholder {
  color: rgba(20, 20, 20, 0.5);
}

.textarea-type-10:-ms-input-placeholder {
  color: rgba(20, 20, 20, 0.5);
}

.textarea-type-10::-ms-input-placeholder {
  color: rgba(20, 20, 20, 0.5);
}

.textarea-type-10::placeholder {
  color: rgba(20, 20, 20, 0.5);
}

.textarea-type-10:focus,
.textarea-type-10:focus-visible {
  outline: none;
}

.card-review {
  cursor: pointer;
}

.modal-reviews-product__window {
  max-width: 100%;
  width: 524px;
}

.modal-reviews-product__window .card-review {
  overflow: hidden;
  width: auto;
  height: 337px;
  min-height: 337px;
}

.modal-reviews-product__window .card-review__desc {
  max-height: calc(100% - 24px - 64px);
  overflow: auto;
}

.modal-reviews-product__window .card-review__desc::-webkit-scrollbar {
  width: 4px;
}

.modal-reviews-product__window .card-review__desc::-webkit-scrollbar-track {
  background: var(--gray, #F8F4F3);
}

.modal-reviews-product__window .card-review__desc::-webkit-scrollbar-thumb {
  background: var(--pink);
}

/* Общие настройки */

.modal-reviews-product .card-review__desc {
  scrollbar-width: thin;
  /* auto | thin | none */
  scrollbar-color: var(--pink) var(--gray, #F8F4F3);
  /* thumb track */
}

.swiper-modal-reviews-product .swiper-slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-modal-reviews-product__line-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding-top: 8px;
}

.swiper-modal-reviews-product__group-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.swiper-modal-reviews-product .swiper-student-reviews__btn {
  background-color: #F8F4F3;
}

.swiper-modal-reviews-product .swiper-student-reviews__btn:focus-visible,
.swiper-modal-reviews-product .swiper-student-reviews__btn:hover {
  width: 56px;
}

.swiper-modal-reviews-product .swiper-student-reviews__btn.--next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 1001px) {
  .send-feedback__btn:focus-visible,
  .send-feedback__btn:hover {
    background-color: var(--grape);
  }

  .card-review:hover .card-review__btn {
    color: var(--black);
  }

  .card-review:hover .card-review__btn::before {
    background-color: var(--black);
  }

  .swiper-modal-reviews-product .swiper-student-reviews__btn:focus-visible,
  .swiper-modal-reviews-product .swiper-student-reviews__btn:hover {
    background-color: var(--violet);
  }

  .swiper-modal-reviews-product .swiper-student-reviews__btn:focus-visible svg path,
  .swiper-modal-reviews-product .swiper-student-reviews__btn:hover svg path {
    fill: #fff;
  }
}

@media (max-width: 1100px) {
  .send-feedback__window {
    padding: 32px;
    width: 540px;
  }

  .modal-reviews-product__window .box-reviews-product__btn-order {
    height: 52px;
  }
}

@media (max-width: 1000px) {
  .no-webp .send-feedback__window{
    background-image: url("../img/send-feedback/bg1000.png"); }
  .send-feedback__window {
    padding: 24px;
  }

  .send-feedback__close {
    top: -48px;
    height: 40px;
    width: 40px;
    left: calc(100% - 40px);
    right: auto;
  }

  .send-feedback__wrapper {
    gap: 16px;
  }

  .send-feedback__title {
    font-size: 20px;
  }

  .send-feedback__desc {
    font-size: 15px;
  }

  .send-feedback__btn {
    font-size: 16px;
    height: 52px;
  }

  .send-feedback__success-message {
    gap: 16px;
  }

  .modal {
    padding: 30px 16px;
  }

  .modal__close {
    top: -48px;
    height: 40px;
    width: 40px;
    left: calc(100% - 40px);
    right: auto;
  }

  .textarea-type-10 {
    padding: 16px;
    min-height: 244px;
    font-size: 16px;
  }

  .modal-reviews-product__window .card-review {
    margin-bottom: 0;
    padding: 24px;
  }
}

@media (max-width: 710px) {
  .swiper-modal-reviews-product .swiper-student-reviews__btn {
    width: 52px;
    height: 52px;
  }
}

@media (max-width: 550px) {
  .modal {
    padding: 20px 10px;
  }
}

.webp .send-feedback__window{ background-image: url(../img/send-feedback/bg.webp); }

@media (max-width: 1000px){

  .webp .send-feedback__window{ background-image: url(../img/send-feedback/bg1000.webp); } }