.section-hero-catalog {
  padding-top: 105px;
}

.swiper-hero-catalog .swiper-slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

.swiper-hero-catalog__group-btn {
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 12px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-hero-catalog__group-btn .btn-swiper-catalog {
  pointer-events: auto;
  width: 14px;
  height: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white, #FFF);
  -webkit-transition: color 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.swiper-hero-catalog__group-btn .btn-swiper-catalog:focus,
.swiper-hero-catalog__group-btn .btn-swiper-catalog:focus-visible {
  outline: none;
}

.swiper-hero-catalog__group-btn .btn-swiper-catalog:focus-visible,
.swiper-hero-catalog__group-btn .btn-swiper-catalog:hover {
  color: var(--pink, #d9315a);
}

.swiper-hero-catalog__group-btn .btn-swiper-catalog.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.swiper-hero-catalog__group-btn:has(.swiper-button-lock) {
  display: none;
}

.card-hero-catalog {
  width: 100%;
  min-height: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-hero-catalog picture {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-hero-catalog img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.line-title {
  overflow: hidden;
  padding-top: 44px;
}

.line-title__title {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: var(--violet, #381067);
  font-family: var(--second-family);
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  -webkit-transform: scaleX(1.2);
      -ms-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.x2_j_filter-top {
  padding-top: 56px;
}

.x2_j_filter-top__list-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

.x2_j_filter-top__list-top::-webkit-scrollbar {
  display: none;
}

.x2_j_filter-top__line-bottom {
  margin: 36px 0;
  padding-bottom: 44px;
  border-bottom: 1px solid #e8e8e8;
}

.x2_j_filter-top__box-swiper {
  position: relative;
}

.x2_j_filter-top__box-swiper:has(div.swiper-slide.swiper-slide-active:first-child)::after {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 0 0 0 auto;
  z-index: 2;
  width: 144px;
  background: -webkit-gradient(linear, right top, left top, color-stop(16.46%, #F8F4F3), to(rgba(248, 244, 243, 0)));
  background: linear-gradient(270deg, #F8F4F3 16.46%, rgba(248, 244, 243, 0) 100%);
}

.x2_j_filter-top__list-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.x2_j_filter-top__list-bottom::-webkit-scrollbar {
  display: none;
}

.x2_j_filter-top__list-bottom.scroll-start {
  position: relative;
}

.x2_j_filter-top__list-bottom.scroll-start::after {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 0 0 0 auto;
  width: 144px;
  background: -webkit-gradient(linear, right top, left top, color-stop(16.46%, #F8F4F3), to(rgba(248, 244, 243, 0)));
  background: linear-gradient(270deg, #F8F4F3 16.46%, rgba(248, 244, 243, 0) 100%);
}

.x2_j_link-filter-point {
  position: relative;
  height: 80px;
  min-width: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--white);
  color: var(--violet, #381067);
  font-family: var(--second-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.x2_j_link-filter-point span {
  position: relative;
  pointer-events: none;
}

.x2_j_link-filter-point .svg {
  width: 48px;
  height: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.x2_j_link-filter-point::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/link-filter-point/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.x2_j_link-filter-point:focus,
.x2_j_link-filter-point:focus-visible {
  outline: none;
}

.x2_j_link-filter-point.active {
  color: var(--pink, #D9315A);
}

.x2_j_link-filter-point.active::before {
  opacity: 1;
}

.x2_j_link-filter-archive {
  height: 80px;
  min-width: 230px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--violet, #381067);
  text-align: center;
  font-family: var(--second-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: rgba(20, 20, 20, 0.04);
}

.x2_j_link-filter-archive:focus,
.x2_j_link-filter-archive:focus-visible {
  outline: none;
}

.x2_j_link-find-your {
  height: 52px;
  padding: 5px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white, #FFF);
  white-space: nowrap;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background-image: url("../img/link-find-your/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.x2_j_link-find-your:focus,
.x2_j_link-find-your:focus-visible {
  outline: none;
}

.x2_j_link-category {
  height: 52px;
  padding: 5px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--violet, #381067);
  white-space: nowrap;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  border: 1px solid var(--violet, #381067);
  -webkit-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.x2_j_link-category.active {
  color: var(--pink, #D9315A);
  background-color: var(--violet, #381067);
}

.x2_j_link-category:focus,
.x2_j_link-category:focus-visible {
  outline: none;
}

.x2_j_link-category:focus-visible,
.x2_j_link-category:hover {
  color: var(--white, #FFF);
  background-color: var(--violet, #381067);
}

.x2_j_box-catalog {
  margin-bottom: 116px;
}

.x2_j_box-catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.x2_j_box-catalog__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (23.6184210526%)[4];
  grid-template-columns: repeat(4, 23.6184210526%);
  gap: 28px;
}

.x2_j_box-catalog__list.color-tag.yellow .yellow {
  color: rgb(161, 161, 15);
}

.x2_j_box-catalog__list.color-tag.peach .peach {
  color: #c53510;
}

.x2_j_box-catalog__list.color-tag.spices .spices {
  color: #9b5811;
}

.x2_j_box-catalog__list.color-tag.orange .orange {
  color: #b1c33e;
}

.x2_j_box-catalog__list.color-tag.green .green {
  color: #0b960b;
}

.x2_j_box-catalog__list.color-tag.cinnamon .cinnamon {
  color: brown;
}

.x2_j_box-catalog__list.color-tag.blue .blue {
  color: blue;
}

.x2_j_card-product {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  padding: 32px;
  background: var(--wireframe-white, #FFF);
}

.x2_j_card-product__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.x2_j_card-product__favourites {
  position: absolute;
  top: 0;
  right: -8px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
  -webkit-transition: color 0.4s ease-in-out, opacity 0.4s;
  transition: color 0.4s ease-in-out, opacity 0.4s;
}

.x2_j_card-product__favourites.active {
  color: var(--pink);
}

.x2_j_card-product__favourites:focus,
.x2_j_card-product__favourites:focus-visible {
  outline: none;
}

.x2_j_card-product__status-product {
  pointer-events: none;
  position: absolute;
  top: -12px;
  left: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  z-index: 2;
}

.x2_j_card-product__status-product.new .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.x2_j_card-product__status-product.week .week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.x2_j_card-product__status-product.hit .hit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.x2_j_card-product__status-product.asses .asses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.x2_j_card-product__status-product .x2_j_status-product {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
}

.x2_j_card-product__img {
  position: relative;
}

.x2_j_card-product__img picture {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.x2_j_card-product__img img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.x2_j_card-product__img::before {
  content: "";
  display: block;
  padding-top: 99%;
}

.x2_j_card-product__img-link {
  position: absolute;
  inset: 0;
}

.x2_j_card-product__link {
  position: absolute;
  inset: 0;
  z-index: 2;
}

.x2_j_card-product__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.x2_j_card-product__name a {
  width: 100%;
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.x2_j_card-product__name a:focus,
.x2_j_card-product__name a:focus-visible {
  outline: none;
}

.x2_j_card-product__name a:focus-visible,
.x2_j_card-product__name a:hover {
  color: var(--violet, #381067);
}

.x2_j_card-product__bottom {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.x2_j_card-product__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
  min-height: 46px;
  margin-bottom: 20px;
}

.x2_j_card-product .x2_j_tag {
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.x2_j_card-product__tastes {
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.x2_j_card-product__drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.x2_j_card-product__line-info {
  margin-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
}

.x2_j_card-product__line-info-box-dropDown {
  display: none;
}

.x2_j_card-product .x2_j_count__btn {
  width: 44px;
  height: 44px;
  background-color: #F8F4F3;
  color: var(--violet, #381067);
}

.x2_j_card-product .x2_j_count__btn:focus-visible,
.x2_j_card-product .x2_j_count__btn:hover {
  background-color: var(--pink);
  color: var(--white);
}

.x2_j_card-product .x2_j_count__input {
  width: 54px;
  height: 44px;
  min-width: 44px;
  color: var(--violet, #381067);
  text-align: center;
  font-family: var(--font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.x2_j_card-product__line-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.x2_j_card-product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.x2_j_card-product__price .title {
  color: rgba(20, 20, 20, 0.3);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.x2_j_card-product__price .price {
  color: var(--violet, #381067);
  font-family: var(--second-family);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}

.x2_j_card-product__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
  height: 52px;
  width: 100%;
  max-width: 168px;
  color: #FFF;
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  background-color: var(--violet, #381067);
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.x2_j_card-product__basket:focus,
.x2_j_card-product__basket:focus-visible {
  outline: none;
}

.x2_j_card-product__basket:focus-visible,
.x2_j_card-product__basket:hover {
  background-color: var(--pink);
}

.x2_j_swiper-card-product .swiper-slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

.x2_j_swiper-card-product-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.x2_j_swiper-card-product-pagination .swiper-pagination-bullet {
  position: relative;
  margin: 0 !important;
  border-radius: 0;
  width: 100%;
  height: 4px;
}

.x2_j_swiper-card-product-pagination .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 0;
  left: 0;
}

.x2_j_swiper-card-product-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 6px;
  background: var(--violet, #381067) !important;
}

.x2_j_box-taste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.x2_j_box-taste__name {
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  /* 92.308% */
}

.x2_j_box-taste .x2_j_group-estimation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.x2_j_box-taste .x2_j_group-estimation .x2_j_esti {
  position: relative;
  width: 12px;
  height: 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid var(--pink, #D9315A);
}

.x2_j_box-taste .x2_j_group-estimation .x2_j_esti.all {
  background-color: var(--pink, #D9315A);
}

.x2_j_box-taste .x2_j_group-estimation .x2_j_esti.half::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 10px solid var(--pink, #D9315A);
  border-right: 10px solid transparent;
}

.dropDown-type-3 {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropDown-type-3__btn {
  width: 100%;
  padding: 6px 12px;
  height: 44px;
  overflow: hidden;
  color: var(--violet, #381067);
  text-overflow: ellipsis;
  font-family: var(--font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-color: #F8F4F3;
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropDown-type-3__btn svg {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.dropDown-type-3__btn.active svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropDown-type-3__btn .text {
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropDown-type-3__btn .svg {
  width: 17px;
  height: 19px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropDown-type-3__btn:focus,
.dropDown-type-3__btn:focus-visible {
  outline: none;
}

.dropDown-type-3__box {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EFEBEA;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.dropDown-type-3__box .text {
  cursor: pointer;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 12px 12px;
  overflow: hidden;
  color: var(--black, #141414);
  text-overflow: ellipsis;
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  -webkit-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.dropDown-type-3__box .text.disabled {
  pointer-events: none;
  color: var(--pink, #D9315A);
}

.dropDown-type-3__box .text:hover {
  background-color: #e3dfde;
}

.dropDown-type-3__box.active {
  opacity: 1;
  visibility: visible;
}

.x2_j_switcher {
  position: relative;
  max-width: 140px;
  width: 100%;
  min-height: 44px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.x2_j_switcher__label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.x2_j_switcher__input {
  position: absolute;
  inset: 0;
  visibility: hidden;
  opacity: 0;
}

.x2_j_switcher__input:checked + .x2_j_switcher__status {
  background-position: center right;
}

.x2_j_switcher__input:checked + .x2_j_switcher__status i:first-child {
  color: var(--violet, #381067);
}

.x2_j_switcher__input:checked + .x2_j_switcher__status i:last-child {
  color: var(--white, #FFF);
}

.x2_j_switcher__status {
  position: absolute;
  inset: 0;
  border: 1px solid #381067;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--white);
  background-image: url("../img/card-product/status-product/switcher/switch.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  -webkit-transition: background-position 0.3s ease-in-out;
  transition: background-position 0.3s ease-in-out;
}

.x2_j_switcher__status i {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: var(--font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.x2_j_switcher__status i:first-child {
  color: var(--white, #FFF);
}

.x2_j_switcher__status i:last-child {
  color: var(--violet, #381067);
}

.x2_j_static-line-loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.x2_j_static-line-loading .x2_j_static-link-load {
  max-width: 356px;
  width: 100%;
  padding: 14px 24px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--violet, #381067);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  border: 1px solid var(--violet, #381067);
}

.x2_j_static-line-loading .x2_j_static-link-load .main-text {
  width: 100%;
  text-align: center;
}

.x2_j_static-line-loading .x2_j_static-link-load .text {
  display: none;
}

.x2_j_static-line-loading .x2_j_static-link-load .load {
  display: none;
  width: 20px;
  height: 20px;
  border: 3px solid var(--violet);
  border-top-color: var(--pink);
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.x2_j_static-line-loading .x2_j_static-link-load.loading .main-text {
  display: none;
}

.x2_j_static-line-loading .x2_j_static-link-load.loading .text {
  display: inline-block;
}

.x2_j_static-line-loading .x2_j_static-link-load.loading .load {
  display: inline-block;
}

.x2_j_filter-bottom {
  padding-bottom: 28px;
}

.x2_j_filter-bottom__mobile-hidden {
  display: none;
}

.x2_j_filter-bottom__btn-open {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--violet, #381067);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding: 5px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #EFEBEA;
}

.x2_j_filter-bottom__btn-open.selected {
  color: var(--violet);
}

.x2_j_filter-bottom__btn-open.selected .text i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.x2_j_filter-bottom__btn-open .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.x2_j_filter-bottom__btn-open .text i {
  display: none;
  min-width: 21px;
  height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1px;
  color: var(--white, #FFF);
  text-align: center;
  font-family: var(--white);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background-color: var(--violet);
}

.x2_j_filter-bottom__line-back {
  margin-bottom: 25px;
}

.x2_j_filter-bottom__btn-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  gap: 12px;
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

.x2_j_filter-bottom__btn-back .svg {
  width: 32px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: var(--pink);
}

.x2_j_filter-bottom__btn-back:focus,
.x2_j_filter-bottom__btn-back:focus-visible {
  outline: none;
}

.x2_j_filter-bottom__line-title {
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.x2_j_filter-bottom__line-title .title {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: var(--violet, #381067);
  font-family: var(--second-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  -webkit-transform: scaleX(1.2);
      -ms-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.x2_j_filter-bottom__line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.x2_j_filter-bottom__dropdown-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.x2_j_filter-bottom__throw {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  color: var(--pink, #D9315A);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.x2_j_filter-bottom__throw .svg {
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--pink);
}

.x2_j_filter-bottom__throw:focus,
.x2_j_filter-bottom__throw:focus-visible {
  outline: none;
}

.drop-down-filter-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.drop-down-filter-1__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.drop-down-filter-1__btn.active svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.drop-down-filter-1__btn .svg {
  width: 21px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.drop-down-filter-1__btn svg {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.drop-down-filter-1__btn:focus,
.drop-down-filter-1__btn:focus-visible {
  outline: none;
}

.drop-down-filter-1__btn:focus-visible,
.drop-down-filter-1__btn:hover {
  color: var(--violet);
}

.drop-down-filter-1__box {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  z-index: 4;
  min-width: 316px;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 8px 16px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 8px 16px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.drop-down-filter-1__box.active {
  opacity: 1;
  visibility: visible;
}

.drop-down-filter-1__link {
  padding: 12px 16px;
  height: 48px;
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.drop-down-filter-1__link.disabled {
  color: var(--pink, #D9315A);
}

.drop-down-filter-1__link:focus,
.drop-down-filter-1__link:focus-visible {
  outline: none;
}

.drop-down-filter-1__link:focus-visible,
.drop-down-filter-1__link:hover {
  background-color: #e3dfde;
}

.drop-down-filter-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.drop-down-filter-2__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.drop-down-filter-2__btn.active svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.drop-down-filter-2__btn.selected {
  color: var(--violet);
}

.drop-down-filter-2__btn.selected .text i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop-down-filter-2__btn .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.drop-down-filter-2__btn .text i {
  display: none;
  min-width: 21px;
  height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1px;
  color: var(--white, #FFF);
  text-align: center;
  font-family: var(--white);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background-color: var(--violet);
}

.drop-down-filter-2__btn .svg {
  width: 21px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.drop-down-filter-2__btn svg {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.drop-down-filter-2__btn:focus,
.drop-down-filter-2__btn:focus-visible {
  outline: none;
}

.drop-down-filter-2__btn:focus-visible,
.drop-down-filter-2__btn:hover {
  color: var(--violet);
}

.drop-down-filter-2__box {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  z-index: 20;
  min-width: 316px;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 8px 16px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 8px 16px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.drop-down-filter-2__box.active {
  opacity: 1;
  visibility: visible;
}

.drop-down-filter-2__checkbox {
  cursor: pointer;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  gap: 12px;
  -webkit-transition: background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.drop-down-filter-2__checkbox.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.drop-down-filter-2__checkbox:focus-visible,
.drop-down-filter-2__checkbox:hover {
  background-color: #e3dfde;
}

.drop-down-filter-2__checkbox .castom {
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--white);
  border: 1px solid var(--violet, #381067);
  -webkit-transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.drop-down-filter-2__checkbox .text {
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.drop-down-filter-2__input {
  position: absolute;
  inset: 0;
  visibility: hidden;
  opacity: 0;
}

.drop-down-filter-2__input:checked + .castom {
  background-color: var(--pink);
  border-color: var(--pink);
}

.drop-down-filter-2__input:focus,
.drop-down-filter-2__input:focus-visible {
  outline: none;
}

.x2_j_swiper-filter-top .swiper-slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  width: auto;
}

@media (min-width: 1000px) {
  .x2_j_link-filter-point:focus-visible,
  .x2_j_link-filter-point:hover {
    color: var(--pink, #D9315A);
  }

  .x2_j_link-filter-point:focus-visible::before,
  .x2_j_link-filter-point:hover::before {
    opacity: 1;
  }
}

@media (min-width: 1001px) {
  .x2_j_card-product__favourites:focus-visible,
  .x2_j_card-product__favourites:hover {
    color: var(--pink);
  }
}

@media (min-width: 1101px) {
  .x2_j_card-product:hover .x2_j_card-product__favourites {
    opacity: 1;
  }

  .x2_j_card-product:hover .x2_j_swiper-card-product-pagination {
    opacity: 1;
    visibility: visible;
  }

  .x2_j_card-product__favourites {
    opacity: 0;
  }

  .x2_j_swiper-card-product-pagination {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 1500px) {
  .x2_j_filter-top__line-top {
    margin: 0 -24px;
  }

  .x2_j_filter-top__list-top {
    gap: 1.8421052632%;
    padding: 0 24px;
  }

  .x2_j_box-catalog__list {
    -ms-grid-columns: (31.6598360656%)[3];
    grid-template-columns: repeat(3, 31.6598360656%);
    gap: 28px;
  }

  .x2_j_filter-bottom {
    padding-bottom: 25px;
  }

  .x2_j_filter-bottom__dropdown-group {
    gap: 16px;
  }

  .x2_j_filter-bottom__throw {
    font-size: 14px;
  }

  .drop-down-filter-1__btn {
    font-size: 14px;
  }

  .drop-down-filter-1__box {
    min-width: 100%;
  }

  .drop-down-filter-1__link {
    font-size: 14px;
  }

  .drop-down-filter-2__btn {
    font-size: 14px;
  }

  .drop-down-filter-2__box {
    min-width: 200px;
  }

  .drop-down-filter-2__checkbox {
    font-size: 14px;
  }
}

@media (max-width: 1400px) {
  .x2_j_link-filter-point {
    height: 64px;
    min-width: 147px;
    font-size: 18px;
    padding: 12px 8px 12px 16px;
  }

  .x2_j_link-filter-point .svg {
    width: 40px;
    height: 40px;
  }

  .x2_j_link-filter-point .svg svg {
    width: 25px;
    height: auto;
  }

  .x2_j_link-filter-archive {
    height: 64px;
    min-width: 148px;
    padding: 12px 8px;
    font-size: 18px;
  }
}

@media (max-width: 1100px) {
  .section-hero-catalog {
    padding-top: 80px;
  }

  .line-title {
    padding-top: 32px;
  }

  .line-title__title {
    font-size: 36px;
    line-height: 130%;
  }

  .x2_j_filter-top {
    padding-top: 44px;
  }

  .x2_j_filter-top__list-top {
    gap: 1.6393442623%;
  }

  .x2_j_filter-top__line-bottom {
    position: relative;
    margin: 28px -24px 36px;
    padding-bottom: 36px;
    border-bottom: none;
  }

  .x2_j_filter-top__line-bottom::after {
    content: "";
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 0;
    height: 1px;
    background-color: #e8e8e8;
  }

  .x2_j_filter-top__list-bottom {
    padding: 0 24px;
  }

  .x2_j_filter-top__list-bottom.scroll-start::after {
    width: 175px;
  }

  .x2_j_link-find-your {
    height: 48px;
  }

  .x2_j_link-category {
    height: 48px;
  }

  .x2_j_box-catalog {
    margin-bottom: 104px;
  }

  .x2_j_box-catalog__list {
    gap: 24px;
  }

  .x2_j_card-product {
    padding: 20px;
  }

  .x2_j_card-product__top {
    gap: 12px;
  }

  .x2_j_card-product__status-product {
    top: 0;
    left: 0;
    gap: 4px;
  }

  .x2_j_card-product__img::before {
    padding-top: 86%;
  }

  .x2_j_card-product__tags {
    margin-bottom: 16px;
  }

  .x2_j_card-product .x2_j_tag {
    font-size: 15px;
  }

  .x2_j_card-product__tastes {
    margin-bottom: 22px;
  }

  .x2_j_card-product__line-info {
    margin-bottom: 20px;
    gap: 12px;
  }

  .x2_j_card-product__line-info .x2_j_switcher {
    display: none;
  }

  .x2_j_card-product__line-info-box-dropDown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .x2_j_card-product .x2_j_count__btn {
    width: 40px;
    height: 40px;
  }

  .x2_j_card-product .x2_j_count__input {
    width: 48px;
    height: 40px;
  }

  .x2_j_card-product__price .price {
    font-size: 26px;
    line-height: 120%;
  }

  .x2_j_card-product__basket {
    height: 48px;
    max-width: 156px;
  }

  .x2_j_box-taste {
    gap: 6px;
  }

  .x2_j_box-taste__name {
    font-size: 12px;
  }

  .dropDown-type-3__btn {
    height: 40px;
    padding: 4px 12px;
  }

  .x2_j_static-line-loading .x2_j_static-link-load {
    max-width: 100%;
  }

  .x2_j_swiper-filter-top {
    padding: 0 24px;
  }
}

@media (max-width: 1000px) {
  .swiper-hero-catalog__group-btn {
    display: none;
  }

  .line-title {
    padding-top: 28px;
  }

  .line-title__title {
    font-size: calc(15px + 9 * (100vw - 320px) / 680);
    line-height: normal;
  }

  .x2_j_filter-top {
    padding-top: 36px;
  }

  .x2_j_filter-top__line-top {
    margin: 0 -16px;
  }

  .x2_j_filter-top__list-top {
    padding: 0 16px;
  }

  .x2_j_filter-top__line-bottom {
    margin: 16px -16px 28px;
    padding-bottom: 28px;
  }

  .x2_j_filter-top__line-bottom::after {
    left: 16px;
    right: 16px;
  }

  .x2_j_filter-top__box-swiper:has(div.swiper-slide.swiper-slide-active:first-child)::after {
    display: none;
  }

  .x2_j_filter-top__list-bottom {
    padding: 0 16px;
  }

  .x2_j_filter-top__list-bottom.scroll-start::after {
    display: none;
  }

  .x2_j_link-filter-point {
    height: 52px;
    min-width: 132px;
    font-size: 16px;
    padding: 6px 6px 6px 16px;
  }

  .x2_j_link-filter-archive {
    height: 52px;
    min-width: 132px;
    padding: 6px 6px;
    font-size: 16px;
  }

  .x2_j_link-find-your {
    height: 44px;
    padding: 5px 16px;
    font-size: 14px;
  }

  .x2_j_link-category {
    height: 44px;
    padding: 5px 16px;
    font-size: 14px;
  }

  .x2_j_box-catalog {
    margin-bottom: 76px;
  }

  .x2_j_box-catalog__wrapper {
    gap: 24px;
  }

  .x2_j_box-catalog__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }

  .x2_j_card-product {
    gap: 12px;
    padding: 24px;
    width: 100%;
    max-width: 450px;
  }

  .x2_j_card-product__favourites {
    top: -4px;
    right: -4px;
  }

  .x2_j_card-product__status-product .x2_j_status-product {
    width: 65px;
    height: 65px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .x2_j_card-product__status-product {
    top: -4px;
    left: -4px;
  }

  .x2_j_card-product__img img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .x2_j_card-product__img::before {
    padding-top: 67%;
  }

  .x2_j_card-product__link {
    display: none;
  }

  .x2_j_card-product__line-info .x2_j_switcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .x2_j_card-product__line-info-box-dropDown {
    display: none;
  }

  .x2_j_card-product__basket {
    max-width: 167px;
  }

  .x2_j_switcher {
    min-height: 40px;
    max-width: 125px;
  }

  .x2_j_static-line-loading .x2_j_static-link-load {
    padding: 12px 24px;
    height: 52px;
  }

  .x2_j_filter-bottom {
    padding-bottom: 16px;
  }

  .x2_j_filter-bottom__mobile-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .x2_j_filter-bottom__group {
    opacity: 0;
    visibility: hidden;
    padding: 28px 16px 80px;
    position: fixed;
    inset: 0;
    background-color: #F8F4F3;
    z-index: 12;
    overflow: auto;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .x2_j_filter-bottom__group::-webkit-scrollbar {
    display: none;
  }

  .x2_j_filter-bottom__group.active {
    opacity: 1;
    visibility: visible;
  }

  .x2_j_filter-bottom__dropdown-group {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4px;
  }

  .x2_j_filter-bottom__dropdown-group .drop-down-filter-1 {
    display: none;
  }

  .x2_j_filter-bottom__throw {
    position: absolute;
    right: 16px;
    top: 79px;
  }

  .drop-down-filter-2 {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .drop-down-filter-2__btn {
    height: 52px;
    width: 100%;
    font-size: 16px;
    color: var(--violet, #381067);
    padding: 5px 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: var(--white);
  }

  .drop-down-filter-2__box {
    position: static;
    opacity: 1;
    visibility: visible;
    display: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .drop-down-filter-2__box.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .drop-down-filter-2__checkbox {
    height: 44px;
    font-size: 16px;
    padding: 5px 16px;
  }

  .x2_j_swiper-filter-top {
    padding: 0 16px;
  }
}