@charset "UTF-8";

.x2_j_box-detail-product {
  padding-top: 105px;
  margin-bottom: 116px;
}

.x2_j_box-detail-product__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 72.5% 1fr;
  grid-template-columns: 72.5% 1fr;
  gap: 35px;
}

.x2_j_box-detail-product__middle {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.x2_j_box-detail-product__bottom {
  padding-top: 20px;
}

.x2_j_box-detail-product__mobile-menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.x2_j_box-detail-product__mobile-menu-top .x2_j_left .name {
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.x2_j_box-detail-product__mobile-menu-top .x2_j_left__group-drop {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.x2_j_box-detail-product__mobile-menu-top .x2_j_right .x2_j_card-product__price {
  gap: 2px;
}

.x2_j_box-detail-product__mobile-menu-top .x2_j_right .title {
  max-width: 180px;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.x2_j_box-detail-product__mobile-menu-top .x2_j_right .price {
  color: var(--black, #141414);
  font-size: 16px;
  line-height: 120%;
}

.x2_j_box-detail-product__mobile-menu-top .dropDown-type-3 {
  width: auto;
}

.x2_j_box-detail-product__mobile-menu-top .dropDown-type-3__btn {
  padding: 0;
  height: auto;
  gap: 3px;
  overflow: hidden;
  color: var(--violet, #381067);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  background-color: transparent;
}

.x2_j_box-detail-product__mobile-menu-top .dropDown-type-3__btn.active::before {
  opacity: 1;
  visibility: visible;
}

.x2_j_box-detail-product__mobile-menu-top .dropDown-type-3__btn .svg {
  width: 12px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--violet, #381067);
  border-radius: 100%;
}

.x2_j_box-detail-product__mobile-menu-top .dropDown-type-3__btn::before {
  pointer-events: none;
  content: "";
  position: absolute;
  height: 6px;
  bottom: 100%;
  width: 100%;
  background-image: url("../img/dropDown-type-3/arr.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.x2_j_box-detail-product__mobile-menu-top .dropDown-type-3__box {
  position: fixed;
  bottom: 92px;
  left: 16px;
  right: 16px;
  top: auto;
  width: calc(100% - 32px);
}

.x2_j_box-detail-product .mobile-menu-botton__link {
  height: 44px;
  width: 100%;
  background-color: var(--pink);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white, #FFF);
  text-align: center;
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.28px;
}

.x2_j_box-detail-product .mobile-menu-botton__link:focus,
.x2_j_box-detail-product .mobile-menu-botton__link:focus-visible {
  outline: none;
}

.x2_j_bg-product {
  background-color: var(--white);
}

.x2_j_p-52 {
  padding: 52px;
}

.x2_j_product-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49.1983967936% 1fr;
  grid-template-columns: 49.1983967936% 1fr;
  gap: 35px;
}

.x2_j_product-top__mobile-title {
  display: none;
}

.x2_j_product-top__title {
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.x2_j_product-top__box-swiper {
  position: relative;
  padding-bottom: 82px;
}

.x2_j_product-top__box-swiper .x2_j_card-product__favourites {
  top: 0;
  right: 0;
}

.x2_j_product-top__box-swiper .x2_j_card-product__status-product {
  top: 0;
  left: 0;
}

.x2_j_product-top__line-title {
  margin-bottom: 24px;
}

.x2_j_product-top__mobile-info {
  display: none;
}

.x2_j_product-top__info {
  margin-bottom: 28px;
}

.x2_j_product-top__prop {
  margin-bottom: 18px;
}

.x2_j_product-top__tastes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.x2_j_product-top__tastes .x2_j_box-taste__name {
  font-size: 14px;
}

.x2_j_product-top__tastes .x2_j_box-taste .x2_j_group-estimation .x2_j_esti {
  width: 18px;
  height: 18px;
}

.x2_j_product-top__tastes .x2_j_box-taste .x2_j_group-estimation .x2_j_esti.half::after {
  border-top: 16px solid var(--pink, #D9315A);
  border-right: 16px solid transparent;
}

.x2_j_detail-product-swiper-main .swiper-slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

.card-detail-product-main {
  max-height: 100%;
  height: 385px;
  overflow: hidden;
}

.card-detail-product-main__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-detail-product-main__link:focus,
.card-detail-product-main__link:focus-visible {
  outline: none;
}

.card-detail-product-main__link picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-detail-product-main__link img {
  width: 100%;
  height: 385px;
  -o-object-fit: cover;
     object-fit: cover;
}

.x2_j_detail-product-swiper-preview {
  position: absolute;
  inset: auto 42px 0 42px;
}

.x2_j_detail-product-swiper-preview .swiper-slide {
  width: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

.x2_j_detail-product-swiper-preview .swiper-slide.swiper-slide-thumb-active .card-detail-product-preview {
  border-color: var(--pink);
}

.x2_j_detail-product-swiper-preview-group-nav {
  pointer-events: none;
  position: absolute;
  bottom: 39px;
  left: 32px;
  right: 32px;
  z-index: 2;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.card-detail-product-preview {
  cursor: pointer;
  border: 1px solid rgba(188, 189, 222, 0.32);
  width: 78px;
  height: 78px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  -webkit-transition: border-color 0.4s ease-in-out;
  transition: border-color 0.4s ease-in-out;
}

.card-detail-product-preview picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-detail-product-preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.group-btn-swiper-type-3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.group-btn-swiper-type-3:has(.swiper-button-lock) {
  opacity: 0;
  visibility: hidden;
}

.group-btn-swiper-type-3-btn {
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: auto;
  background-color: #F8F4F3;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.group-btn-swiper-type-3-btn.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

.group-btn-swiper-type-3-btn.swiper-button-lock {
  opacity: 0;
  visibility: hidden;
}

.group-btn-swiper-type-3-btn:focus,
.group-btn-swiper-type-3-btn:focus-visible {
  outline: none;
}

.product-main-info {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 10.1910828025%;
     -moz-column-gap: 10.1910828025%;
          column-gap: 10.1910828025%;
}

.box-product-main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}

.box-product-main-info:last-child {
  margin-bottom: 0;
}

.box-product-main-info .name {
  color: rgba(20, 20, 20, 0.5019607843);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.box-product-main-info .info {
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.box-product-top-prop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.box-product-top-prop__title {
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.box-product-top-prop .x2_j_card-product__tags {
  max-width: 400px;
  margin-bottom: 0;
}

.box-product-top-prop .x2_j_tag {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 130%;
}

.box-product-top-prop .x2_j_tag.yellow {
  color: #FFA000;
}

.box-product-top-prop .x2_j_tag.peach {
  color: #F3A66B;
}

.box-product-top-prop .x2_j_tag.spices {
  color: #7E5A41;
}

.box-product-top-prop .x2_j_tag.orange {
  color: #FF8000;
}

.box-product-top-prop .x2_j_tag.green {
  color: #7EA34E;
}

.x2_j_product-middle {
  position: sticky;
  top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.x2_j_product-middle__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 36px 32px;
}

.x2_j_product-middle__box-img {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
}

.x2_j_product-middle__box-img.open {
  height: 200px;
}

.x2_j_product-middle__box-img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 146px;
  -o-object-fit: cover;
     object-fit: cover;
}

.x2_j_product-middle__box-img img {
  width: 100%;
  height: 146px;
  -o-object-fit: contain;
     object-fit: contain;
}

.x2_j_product-middle__box-img .name {
  margin-bottom: 20px;
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.x2_j_product-middle__param {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.x2_j_product-middle__drop-down {
  margin-bottom: 16px;
}

.x2_j_product-middle__switcher-count {
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.x2_j_product-middle__switcher-count .x2_j_count__btn {
  width: 48px;
  height: 48px;
  background-color: #F8F4F3;
  color: var(--violet, #381067);
  -webkit-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.x2_j_product-middle__switcher-count .x2_j_count__btn:focus-visible,
.x2_j_product-middle__switcher-count .x2_j_count__btn:hover {
  background-color: var(--pink);
  color: var(--white);
}

.x2_j_product-middle__switcher-count .x2_j_count__input {
  min-width: 44px;
  width: 100%;
  max-width: 55px;
  height: 48px;
  font-size: 16px;
  color: var(--violet, #381067);
}

.x2_j_product-middle__line-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.x2_j_product-middle__middle {
  padding: 32px 28px;
}

.x2_j_product-middle__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tag-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 8px;
}

.tag-product img {
  width: 36px;
  aspect-ratio: 1/1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.tag-product .desc {
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.link-can-buy {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  width: 100%;
  height: 72px;
  color: #FFF;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 130%;
  letter-spacing: 0.36px;
  background-color: var(--pink, #D9315A);
}

.link-can-buy:focus,
.link-can-buy:focus-visible {
  outline: none;
}

.link-can-buy .text {
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.link-can-buy .bg {
  height: 142px;
  pointer-events: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.link-can-buy .bg picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.x2_j_description-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.x2_j_description-product-nav-top {
  display: none;
}

.x2_j_description-product-nav-aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.x2_j_description-product__info {
  width: 72.6452905812%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 92px;
}

.product-nav-aside {
  position: sticky;
  top: 24px;
  padding: 24px;
  background-color: #F8F4F3;
}

.product-nav-aside__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.product-nav-aside__link {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--violet, #381067);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.product-nav-aside__link:focus,
.product-nav-aside__link:focus-visible {
  outline: none;
}

.product-nav-aside__link .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3px;
  min-width: 20px;
  color: var(--white, #FFF);
  text-align: center;
  font-family: var(--font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background-color: var(--violet, #381067);
}

.description-product-point__title {
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 28px;
}

.description-product-point__text *:not(:last-child) {
  margin-bottom: 24px;
}

.description-product-point__text {
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.description-product-point__text picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.description-product-point__text img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.description-product-point__btn-all {
  width: 100%;
  margin-top: 24px;
  padding: 10px 20px;
  height: 54px;
  color: var(--pink, #D9315A);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid var(--pink);
}

.description-product-point__btn-all .text {
  margin: 0 !important;
}

.description-product-point__btn-all .svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description-product-point__btn-all svg {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.description-product-point__btn-all:focus,
.description-product-point__btn-all:focus-visible {
  outline: none;
}

.description-product-point__btn-all.active svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.desc-hidden-box {
  margin-bottom: 0 !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}

.box-expert-asses {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.box-expert-asses__item {
  border: 1px solid var(--pink);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
}

.box-expert-asses__item.item-total {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  background-color: var(--pink);
  background-image: url("../img/box-expert-asses/bg.svg");
  background-repeat: no-repeat;
  background-position: center right 16px;
}

.box-expert-asses__item.item-total .name {
  color: var(--white, #FFF);
}

.box-expert-asses__item.item-total .line-asses {
  color: var(--white, #FFF);
}

.box-expert-asses__item.item-total .line-asses .static {
  color: rgba(255, 255, 255, 0.36);
}

.box-expert-asses__item .name {
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.box-expert-asses__item .line-asses {
  color: var(--pink, #D9315A);
  font-family: var(--second-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 2px;
}

.box-expert-asses__item .line-asses .static {
  color: rgba(217, 49, 90, 0.36);
  font-size: 18px;
}

.box-expert-reaction {
  margin-top: 32px;
  padding: 32px;
  position: relative;
  background-color: var(--violet, #381067);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.box-expert-reaction .quote {
  position: absolute;
  top: 0;
  left: 0;
}

.box-expert-reaction__left {
  width: 63.0862329803%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  color: var(--white, #FFF);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.box-expert-reaction .line-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box-expert-reaction .line-name .name {
  color: var(--white, #FFF);
  font-family: var(--second-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.box-expert-reaction .line-name .post {
  color: var(--white, #FFF);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  opacity: 0.5;
}

.box-expert-reaction__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box-expert-reaction__right .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.box-expert-reaction__right .box-img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-expert-reaction__right .box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.list-retention {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
}

.list-retention__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.list-retention .title {
  margin: 0;
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.list-retention .desc {
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.product-nav-top {
  position: relative;
}

.product-nav-top__nav {
  padding: 0 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.product-nav-top__nav.start-scroll::after {
  opacity: 1;
}

.product-nav-top__nav.end-scroll::before {
  opacity: 1;
}

.product-nav-top__nav::before,
.product-nav-top__nav::after {
  position: absolute;
  content: "";
  width: 83px;
  top: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.product-nav-top__nav::before {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#FFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0) 100%);
}

.product-nav-top__nav::after {
  right: 0;
  background: -webkit-gradient(linear, right top, left top, from(#FFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0) 100%);
}

.product-nav-top__nav::-webkit-scrollbar {
  display: none;
}

.product-nav-top__link {
  padding: 12px 16px;
  background-color: #F8F4F3;
  white-space: nowrap;
  color: var(--violet, #381067);
  font-family: var(--font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  -webkit-transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.product-nav-top__link .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 0 3px;
  min-width: 20px;
  color: var(--white, #FFF);
  text-align: center;
  font-family: var(--font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background-color: var(--violet, #381067);
}

.product-nav-top__link.active {
  background-color: var(--violet);
  color: var(--white);
}

.product-nav-top__link.active .count {
  background-color: var(--white);
  color: var(--violet);
}

.product-nav-top__link:focus,
.product-nav-top__link:focus-visible {
  outline: none;
}

.tabs-recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.tabs-recipe__line-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}

.tabs-recipe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background-color: #F8F4F3;
  -webkit-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.tabs-recipe__btn:focus,
.tabs-recipe__btn:focus-visible {
  outline: none;
}

.card-recipe {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-recipe__bottom {
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.recipe-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.recipe-table__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipe-table__line .name {
  color: #8A8A8A;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.recipe-table__line .between {
  margin: 0 8px;
  opacity: 0.5;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 30px;
  border-bottom: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#A1A1A2), color-stop(60%, #A1A1A2), color-stop(40%, transparent), to(transparent));
  background-image: linear-gradient(to right, #A1A1A2 0%, #A1A1A2 60%, transparent 40%, transparent 100%);
  background-size: 10px 0.9px;
  background-position: left bottom 5px;
  background-repeat: repeat-x;
}

.recipe-table__line .info {
  color: var(--black, #141414);
  text-align: right;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.swiper-recipe .swiper-slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

.swiper-recipe__line-nav {
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-recipe__group-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.swiper-recipe .swiper-student-reviews__btn {
  background-color: #F8F4F3;
}

.swiper-recipe .swiper-student-reviews__btn.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.swiper-recipe .swiper-student-reviews__btn.--prev {
  width: 56px !important;
}

.swiper-recipe .swiper-student-reviews__btn.--next {
  width: 108px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.swiper-recipe .swiper-student-reviews__btn svg path {
  -webkit-transition: fill 0.4s ease-in-out;
  transition: fill 0.4s ease-in-out;
}

.swiper-recipe-pagination {
  padding: 5px 11px;
  height: 56px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  background-color: #F8F4F3;
  color: var(--violet, #381067);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.box-guide-brew__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.box-guide-brew__line::-webkit-scrollbar {
  display: none;
}

.box-guide-brew__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.box-guide-brew__link .box-img {
  width: 100%;
  height: 172px;
}

.box-guide-brew__link .box-img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-guide-brew__link .box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-guide-brew__link .text {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 32px;
}

.box-guide-brew__link .text::after {
  content: "";
  position: absolute;
  inset: 0 0 0 auto;
  width: 20px;
  background-image: url("../img/box-guide-brew__link/arr.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.box-guide-brew__link:focus,
.box-guide-brew__link:focus-visible {
  outline: none;
}

.card-review {
  padding: 24px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  background-color: #F8F4F3;
}

.card-review__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-review__person .avatar {
  width: 64px;
  height: 64px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 100%;
  overflow: hidden;
}

.card-review__person .avatar picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-review__person .avatar .img {
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-review__person .box-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.card-review__person .box-name .name {
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 20px */
}

.card-review__person .box-name .time {
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.card-review__box-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}

.card-review__desc {
  color: #000;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-review__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--pink, #D9315A);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.card-review__btn::before {
  position: absolute;
  bottom: 0;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--pink);
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.card-review__btn:focus,
.card-review__btn:focus-visible {
  outline: none;
}

.swiper-reviews-product .swiper-slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

.swiper-reviews-product__line-nav {
  padding-top: 32px;
  padding-right: 250px;
}

.swiper-reviews-product__group-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.swiper-reviews-product .swiper-student-reviews__btn {
  background-color: #F8F4F3;
}

.swiper-reviews-product .swiper-student-reviews__btn.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.swiper-reviews-product .swiper-student-reviews__btn.--prev {
  width: 56px !important;
}

.swiper-reviews-product .swiper-student-reviews__btn.--next {
  width: 108px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.swiper-reviews-product .swiper-student-reviews__btn.--next .alert-small {
  display: none;
}

.swiper-reviews-product .swiper-student-reviews__btn svg path {
  -webkit-transition: fill 0.4s ease-in-out;
  transition: fill 0.4s ease-in-out;
}

.box-reviews-product {
  position: relative;
}

.box-reviews-product__box-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.box-reviews-product__btn-order {
  height: 56px;
  width: 216px;
  max-width: 100%;
  padding: 10px;
  color: #FFF;
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.243px;
  background-color: var(--pink, #D9315A);
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.box-reviews-product__btn-order:focus,
.box-reviews-product__btn-order:focus-visible {
  outline: none;
}

/* Стили для модалки */

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Скрыта по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* Прозрачный фон */
  z-index: 9999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  padding: 60px 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal__body {
  position: relative;
  max-width: 100%;
  margin: auto 0;
}

.modal__close {
  position: absolute;
  top: 0;
  left: calc(100% + 8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  color: var(--white);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--pink);
  -webkit-transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.modal__close:focus,
.modal__close:focus-visible {
  outline: none;
}

.modal__close .text {
  display: none;
}

.modal__close .svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .card-review {
  max-width: 100%;
  width: 524px;
  min-height: 250px;
}

.modal .card-review__desc {
  display: block;
}

.modal .card-review__btn {
  display: none;
}

/* Анимация для появления модалки */

.modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 0.3s ease-out;
          animation: fadeIn 0.3s ease-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.swiper-card-product .swiper-slide {
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-card-product__section {
  margin-bottom: 116px;
}

.swiper-card-product__line-title {
  margin-bottom: 44px;
}

.swiper-card-product__line-title .line-title__title {
  color: var(--black);
}

.swiper-card-product__line-nav {
  padding-top: 24px;
  display: none;
}

.swiper-card-product .swiper-student-reviews__btn {
  background-color: #FFF;
}

.swiper-card-product .swiper-student-reviews__btn.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.swiper-card-product .swiper-student-reviews__btn.--prev {
  width: 56px !important;
}

.swiper-card-product .swiper-student-reviews__btn.--next {
  width: 108px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.swiper-card-product .swiper-student-reviews__btn svg path {
  -webkit-transition: fill 0.4s ease-in-out;
  transition: fill 0.4s ease-in-out;
}

@media (min-width: 1001px) {
  .x2_j_product-top__box-swiper:hover .x2_j_card-product__favourites {
    opacity: 1;
  }

  .card-detail-product-preview:hover {
    border-color: var(--pink);
  }

  .group-btn-swiper-type-3-btn:focus-visible,
  .group-btn-swiper-type-3-btn:hover {
    background-color: var(--pink);
  }

  .link-can-buy:focus-visible .bg,
  .link-can-buy:hover .bg {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
  }

  .product-nav-top__link:focus-visible,
  .product-nav-top__link:hover {
    background-color: var(--violet);
    color: var(--white);
  }

  .product-nav-top__link:focus-visible .count,
  .product-nav-top__link:hover .count {
    background-color: var(--white);
    color: var(--violet);
  }

  .tabs-recipe__btn:focus-visible,
  .tabs-recipe__btn:hover {
    color: var(--white);
    background-color: var(--violet);
  }

  .swiper-recipe .swiper-student-reviews__btn:focus-visible,
  .swiper-recipe .swiper-student-reviews__btn:hover {
    background-color: var(--violet, #381067);
  }

  .swiper-recipe .swiper-student-reviews__btn:focus-visible svg path,
  .swiper-recipe .swiper-student-reviews__btn:hover svg path {
    fill: var(--white);
  }

  .box-guide-brew__link:focus-visible,
  .box-guide-brew__link:hover {
    color: var(--pink);
  }

  .box-guide-brew__link:focus-visible .text::after,
  .box-guide-brew__link:hover .text::after {
    opacity: 1;
  }

  .card-review__btn:focus-visible,
  .card-review__btn:hover {
    color: var(--black);
  }

  .card-review__btn:focus-visible::before,
  .card-review__btn:hover::before {
    background-color: var(--black);
  }

  .swiper-reviews-product .swiper-student-reviews__btn:focus-visible,
  .swiper-reviews-product .swiper-student-reviews__btn:hover {
    background-color: var(--violet, #381067);
  }

  .swiper-reviews-product .swiper-student-reviews__btn:focus-visible svg path,
  .swiper-reviews-product .swiper-student-reviews__btn:hover svg path {
    fill: var(--white);
  }

  .box-reviews-product__btn-order:focus-visible,
  .box-reviews-product__btn-order:hover {
    background-color: var(--violet);
  }

  .modal__close:focus-visible,
  .modal__close:hover {
    background-color: var(--violet);
  }

  .swiper-card-product .swiper-student-reviews__btn:focus-visible,
  .swiper-card-product .swiper-student-reviews__btn:hover {
    background-color: var(--violet, #381067);
  }

  .swiper-card-product .swiper-student-reviews__btn:focus-visible svg path,
  .swiper-card-product .swiper-student-reviews__btn:hover svg path {
    fill: var(--white);
  }
}

@media (max-width: 1300px) {
  .x2_j_box-detail-product__wrapper {
    -ms-grid-columns: 65.881147541% 1fr;
    grid-template-columns: 65.881147541% 1fr;
    gap: 24px;
  }

  .x2_j_p-52 {
    padding: 28px;
  }

  .x2_j_product-top {
    -ms-grid-columns: 42.5894378194% 1fr;
    grid-template-columns: 42.5894378194% 1fr;
    gap: 24px;
  }

  .x2_j_product-top__title {
    font-size: 24px;
  }

  .x2_j_product-top__box-swiper {
    padding-bottom: 68px;
  }

  .x2_j_product-top__line-title {
    margin-bottom: 20px;
  }

  .x2_j_product-top__info {
    margin-bottom: 20px;
  }

  .x2_j_product-top__tastes .x2_j_box-taste__name {
    font-size: 13px;
  }

  .x2_j_product-top__tastes .x2_j_box-taste .x2_j_group-estimation .x2_j_esti {
    width: 14px;
    height: 14px;
  }

  .x2_j_product-top__tastes .x2_j_box-taste .x2_j_group-estimation .x2_j_esti.half::after {
    border-top: 12px solid var(--pink, #D9315A);
    border-right: 12px solid transparent;
  }

  .card-detail-product-main {
    height: 300px;
  }

  .card-detail-product-main__link img {
    height: 300px;
  }

  .x2_j_detail-product-swiper-preview {
    inset: auto 0 0 0;
  }

  .x2_j_detail-product-swiper-preview-group-nav {
    left: -10px;
    right: -10px;
    bottom: 32px;
  }

  .card-detail-product-preview {
    width: 80px;
    height: 64px;
  }

  .card-detail-product-preview img {
    height: 64px;
  }

  .product-main-info {
    -webkit-column-gap: 8.945686901%;
       -moz-column-gap: 8.945686901%;
            column-gap: 8.945686901%;
  }

  .box-product-main-info .name {
    font-size: 13px;
  }

  .box-product-main-info .info {
    font-size: 15px;
  }

  .box-product-top-prop .x2_j_tag {
    font-size: 15px;
  }

  .x2_j_product-middle {
    top: 24px;
    gap: 24px;
  }

  .x2_j_product-middle__top {
    padding: 24px;
  }

  .x2_j_product-middle__switcher-count {
    margin-bottom: 16px;
  }

  .x2_j_product-middle__switcher-count .x2_j_count__btn {
    width: 40px;
    height: 40px;
  }

  .x2_j_product-middle__switcher-count .x2_j_count__input {
    height: 40px;
  }

  .x2_j_product-middle__middle {
    padding: 24px;
  }

  .x2_j_product-middle__tags {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tag-product {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .x2_j_description-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }

  .x2_j_description-product-nav-top {
    display: block;
    margin: 0 -28px;
  }

  .x2_j_description-product-nav-aside {
    display: none;
  }

  .x2_j_description-product__info {
    width: 100%;
    gap: 68px;
  }

  .x2_j_description-product__info {
    gap: 56px;
  }

  .product-nav-aside {
    display: none;
  }

  .description-product-point__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .description-product-point__text *:not(:last-child) {
    margin-bottom: 20px;
  }

  .description-product-point__text {
    font-size: 16px;
  }

  .box-expert-asses__item {
    padding: 12px;
    gap: 14px;
  }

  .box-expert-asses__item.item-total {
    background-position: center right 12px;
  }

  .box-expert-asses__item .name {
    font-size: 16px;
  }

  .box-expert-reaction {
    margin-top: 20px;
    padding: 24px;
  }

  .box-expert-reaction__left {
    width: 54.7309833024%;
    gap: 16px;
  }

  .box-expert-reaction .line-name .name {
    font-size: 16px;
  }

  .box-expert-reaction .line-name .post {
    font-size: 14px;
  }
}

@media (max-width: 1100px) {
  .x2_j_box-detail-product {
    padding-top: 80px;
    margin-bottom: 76px;
  }

  .x2_j_product-top .x2_j_card-product__status-product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }

  .x2_j_product-top .x2_j_card-product__status-product img {
    width: 72px;
    height: 72px;
  }

  .card-detail-product-main {
    height: 196px;
  }

  .card-detail-product-main__link img {
    height: 196px;
  }

  .description-product-point__btn-all {
    margin-top: 20px;
    height: 48px;
  }

  .description-product-point__btn-all {
    margin-top: 20px;
    height: 48px;
  }

  .box-expert-asses {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .list-retention {
    gap: 20px;
  }

  .list-retention__item {
    gap: 16px;
  }

  .list-retention .title {
    font-size: 18px;
  }

  .list-retention .desc {
    font-size: 16px;
    line-height: 130%;
  }

  .card-recipe {
    gap: 24px;
  }

  .recipe-table {
    gap: 13px;
  }

  .recipe-table__line .name {
    font-size: 16px;
  }

  .recipe-table__line .info {
    font-size: 16px;
  }

  .swiper-recipe__line-nav {
    padding-top: 24px;
  }

  .swiper-recipe .swiper-student-reviews__btn {
    height: 48px;
  }

  .swiper-recipe .swiper-student-reviews__btn.--prev {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 48px !important;
  }

  .swiper-recipe-pagination {
    height: 48px;
  }

  .box-guide-brew__link {
    gap: 12px;
  }

  .box-guide-brew__link .box-img {
    width: 185px;
    height: 135px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .swiper-reviews-product__line-nav {
    padding-top: 22px;
  }

  .swiper-reviews-product .swiper-student-reviews__btn {
    height: 48px;
  }

  .swiper-reviews-product .swiper-student-reviews__btn.--prev {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 48px !important;
  }

  .box-reviews-product {
    margin: 0 -28px;
  }

  .box-reviews-product .swiper-reviews-product {
    padding: 0 28px;
  }

  .box-reviews-product__box-btn {
    right: 28px;
  }

  .box-reviews-product__btn-order {
    height: 48px;
  }

  .swiper-card-product .swiper-student-reviews__btn {
    height: 48px;
  }

  .swiper-card-product .swiper-student-reviews__btn.--prev {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 48px !important;
  }
}

@media (max-width: 1000px) {
  .x2_j_box-detail-product__wrapper {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    gap: 12px;
  }

  .x2_j_box-detail-product__middle {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }

  .x2_j_p-52 {
    padding: 20px;
  }

  .x2_j_product-top {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    gap: 16px;
  }

  .x2_j_product-top .x2_j_card-product__status-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }

  .x2_j_product-top .x2_j_card-product__status-product img {
    width: 64px;
    height: 64px;
  }

  .x2_j_product-top__left {
    margin: 0 auto;
    width: 450px;
    max-width: 100%;
  }

  .x2_j_product-top__right {
    margin: 0 auto;
    width: 450px;
    max-width: 100%;
  }

  .x2_j_product-top__mobile-title {
    display: block;
    padding-right: 40px;
    margin-bottom: 16px;
  }

  .x2_j_product-top__title {
    color: var(--black, #141414);
    font-family: var(--second-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
  }

  .x2_j_product-top__box-swiper .x2_j_card-product__status-product {
    top: auto;
  }

  .x2_j_product-top__line-title {
    display: none;
  }

  .x2_j_product-top__mobile-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
  }

  .x2_j_product-top__mobile-info .box-answers-tabs {
    width: 100%;
  }

  .x2_j_product-top__mobile-info .card-answers-tab:has(.card-answers-tab__btn.active) {
    background-color: transparent;
  }

  .x2_j_product-top__mobile-info .card-answers-tab__btn {
    padding: 0;
    height: auto;
    font-size: 18px;
    color: var(--black, #141414);
  }

  .x2_j_product-top__mobile-info .card-answers-tab__btn .svg {
    width: 18px;
    height: 18px;
    background-color: transparent;
    color: var(--pink);
  }

  .x2_j_product-top__mobile-info .card-answers-tab__box-info {
    margin: 0;
    padding: 8px 0 0;
  }

  .x2_j_product-top__info {
    display: none;
  }

  .x2_j_product-top__tastes .x2_j_box-taste .x2_j_group-estimation .x2_j_esti {
    width: 13px;
    height: 13px;
  }

  .x2_j_product-top__tastes .x2_j_box-taste .x2_j_group-estimation .x2_j_esti.half::after {
    border-top: 11px solid var(--pink, #D9315A);
    border-right: 11px solid transparent;
  }

  .card-detail-product-preview {
    width: 69px;
  }

  .product-main-info {
    -webkit-column-gap: 28px;
       -moz-column-gap: 28px;
            column-gap: 28px;
  }

  .box-product-top-prop {
    gap: 8px;
  }

  .box-product-top-prop__title {
    font-size: 18px;
  }

  .x2_j_product-middle {
    position: static;
    top: 0;
    gap: 12px;
  }

  .x2_j_product-middle__top {
    padding: 20px;
  }

  .x2_j_product-middle__box-img {
    display: none;
  }

  .x2_j_product-middle__drop-down {
    margin-bottom: 18px;
  }

  .x2_j_product-middle__switcher-count {
    margin-bottom: 18px;
  }

  .x2_j_product-middle__middle {
    padding: 20px;
  }

  .x2_j_product-middle__tags {
    gap: 12px;
  }

  .tag-product img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .link-can-buy {
    font-size: 16px;
    height: 56px;
  }

  .link-can-buy .bg {
    height: 56px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .link-can-buy .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .x2_j_description-product-nav-top {
    margin: 0 -20px;
  }

  .box-expert-asses {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .box-expert-asses__item {
    gap: 8px;
  }

  .box-expert-asses__item .name {
    font-size: 14px;
  }

  .box-expert-reaction {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }

  .box-expert-reaction__left {
    width: 100%;
    font-size: 15px;
    gap: 12px;
  }

  .box-expert-reaction .line-name .post {
    font-size: 13px;
  }

  .box-expert-reaction__right .box-img {
    max-width: 450px;
    margin: 0 auto;
  }

  .product-nav-top__nav {
    padding: 0 20px;
  }

  .card-recipe__bottom {
    font-size: 16px;
  }

  .recipe-table {
    gap: 12px;
  }

  .recipe-table__line .name {
    font-size: 14px;
  }

  .recipe-table__line .between {
    min-width: 5px;
  }

  .recipe-table__line .info {
    font-size: 14px;
  }

  .box-guide-brew {
    margin: 0 -20px;
  }

  .box-guide-brew__line {
    padding: 0 20px;
  }

  .box-guide-brew__link {
    font-size: 17px;
  }

  .card-review {
    padding: 16px;
  }

  .card-review__person .avatar picture {
    width: 52px;
    height: 52px;
  }

  .card-review__person .avatar .img {
    width: 52px;
    height: 52px;
  }

  .card-review__person .avatar {
    width: 52px;
    height: 52px;
  }

  .card-review__person .box-name .name {
    font-size: 18px;
  }

  .card-review__person .box-name .time {
    font-size: 13px;
  }

  .card-review__desc {
    font-size: 15px;
  }

  .card-review__btn {
    font-size: 15px;
  }

  .swiper-reviews-product__line-nav {
    padding-top: 20px;
  }

  .swiper-reviews-product .swiper-student-reviews__btn.--next {
    width: 48px;
  }

  .swiper-reviews-product .swiper-student-reviews__btn.--next .alert-small {
    display: inline-block;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .swiper-reviews-product .swiper-student-reviews__btn.--next .alert-big {
    display: none;
  }

  .box-reviews-product {
    margin: 0 -20px;
  }

  .box-reviews-product .swiper-reviews-product {
    padding: 0 20px;
  }

  .box-reviews-product__box-btn {
    right: 20px;
  }

  .box-reviews-product__btn-order {
    font-size: 15px;
    width: 160px;
  }

  .modal__close {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    width: 100%;
  }

  .modal__close .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: var(--font-family);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  .modal__close .svg {
    display: none;
  }

  .modal .card-review {
    margin-bottom: 56px;
  }

  .swiper-card-product .swiper-slide .x2_j_card-product {
    margin: 0 auto;
  }

  .swiper-card-product__section {
    margin-bottom: 76px;
  }

  .swiper-card-product__line-title {
    margin-bottom: 36px;
  }

  .swiper-card-product__line-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}