@charset "UTF-8";

.main {
  position: relative;
}

.x2_j_path {
  padding-top: 44px;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.x2_j_path__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.x2_j_path__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  color: #F4F4F4;
  font-family: var(--font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

.x2_j_path__item .svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.x2_j_path__link {
  color: #F4F4F4;
  font-family: var(--font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.x2_j_path__link:focus,
.x2_j_path__link:focus-visible {
  outline: none;
}

.x2_j_path__link:focus-visible,
.x2_j_path__link:hover,
.x2_j_path__link:active {
  color: var(--pink);
}

.x2_j_path__box-back {
  display: none;
}

.x2_j_path__btn-back {
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  color: #F4F4F4;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  /* 18.4px */
}

.x2_j_path__btn-back .svg {
  width: 32px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--pink, #D9315A);
}

.x2_j_path__btn-back:focus,
.x2_j_path__btn-back:focus-visible {
  outline: none;
}

.static-pages .x2_j_path__item {
  color: var(--black, #141414);
}

.static-pages .x2_j_path__link {
  color: var(--gray-text, #BCBDDE);
}

.static-pages .x2_j_path__link:focus-visible,
.static-pages .x2_j_path__link:hover,
.static-pages .x2_j_path__link:active {
  color: var(--pink);
}

.static-pages .x2_j_path__btn-back {
  color: var(--black, #141414);
}

.section-hero-page__btn {
  height: 60px;
  padding: 0 39px;
  white-space: nowrap;
  color: #FFF;
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  border-radius: 1.243px;
  background-color: var(--pink, #D9315A);
}

.section-hero-page__btn:focus,
.section-hero-page__btn:focus-visible {
  outline: none;
}

.section-hero-page .card-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(56, 16, 103, 0.56)), to(rgba(56, 16, 103, 0.56)));
  background: linear-gradient(0deg, rgba(56, 16, 103, 0.56) 0%, rgba(56, 16, 103, 0.56) 100%);
}

.section-hero-page .card-hero__container {
  position: relative;
  z-index: 2;
}

.section-hero-page .card-hero__info-top {
  gap: 0;
}

.section-hero-page .card-hero__info-top img {
  -webkit-transform: translate(-27px, 5px);
      -ms-transform: translate(-27px, 5px);
          transform: translate(-27px, 5px);
  width: 379px;
}

.section-advantages-p-s__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 28px;
     -moz-column-gap: 28px;
          column-gap: 28px;
  row-gap: 38px;
}

.card-advantages-p-s {
  height: 100%;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}

.card-advantages-p-s__title {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--white, #FFF);
  font-family: var(--second-family);
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  -webkit-transform: scaleX(1.2);
      -ms-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.card-advantages-p-s__title span {
  color: var(--pink);
}

.card-advantages-p-s__desc {
  color: var(--white, #FFF);
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.card-master-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--grape, #19084B);
}

.card-master-class__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
}

.card-master-class__right {
  position: relative;
  width: 320px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card-master-class__title {
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--white, #FFF);
  font-family: var(--second-family);
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  -webkit-transform: scaleX(1.2);
      -ms-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.card-master-class__title span {
  color: var(--pink);
}

.card-master-class__title::after {
  position: absolute;
  z-index: -1;
  left: 80px;
  bottom: 0;
  content: "";
  width: 260px;
  height: 28px;
  background-image: url(../img/page-school/section-master-p-s/card-master-class/line-title.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card-master-class__desc {
  color: var(--white, #FFF);
  font-family: var(--second-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.card-master-class__link {
  position: absolute;
  inset: 0;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--white);
  font-family: var(--font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 31.2px */
  letter-spacing: 0.48px;
  background-color: var(--pink, #D9315A);
  background-image: url(../img/page-school/section-master-p-s/card-master-class/ornament.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-master-class__link .svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
}

.card-master-class__link:focus,
.card-master-class__link:focus-visible {
  outline: none;
}

.section-courses-p-s {
  margin-bottom: 138px;
  position: relative;
}

.section-courses-p-s::before {
  content: "";
  position: absolute;
  inset: -5px 0 0 0;
  z-index: 0;
  background-image: url(../img/page-school/section-courses-p-s/bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.section-courses-p-s__content {
  position: relative;
}

.section-courses-p-s__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}

.card-courses-p-s {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: var(--black, #141414);
  min-height: 493px;
}

.card-courses-p-s__box-img {
  width: 43.9678284182%;
}

.card-courses-p-s__box-img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-courses-p-s__box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-courses-p-s__box-info {
  padding: 36px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-courses-p-s__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.card-courses-p-s__title {
  color: var(--white);
  font-family: var(--second-family);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-courses-p-s__desc {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.card-courses-p-s__box-count {
  padding-top: 20px;
  border-top: 1px solid rgba(230, 230, 230, 0.1098039216);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
}

.card-courses-p-s__group-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-courses-p-s__group-top .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.card-courses-p-s__group-top .left .text {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  opacity: 0.5;
}

.card-courses-p-s__group-top .right {
  padding: 0 22px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-courses-p-s__group-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.card-courses-p-s__basket {
  height: 52px;
  padding: 0 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.243px;
  background-color: var(--pink, #D9315A);
  color: var(--white);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.card-courses-p-s__basket:focus,
.card-courses-p-s__basket:focus-visible {
  outline: none;
}

.card-courses-p-s__detail {
  height: 52px;
  padding: 0 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  border-radius: 1.243px;
  border: 1px solid var(--white, #FFF);
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.card-courses-p-s__detail:focus,
.card-courses-p-s__detail:focus-visible {
  outline: none;
}

.card-courses-p-s__detail:focus-visible,
.card-courses-p-s__detail:hover,
.card-courses-p-s__detail:active {
  background-color: var(--pink);
}

.x2_j_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.x2_j_count__btn {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #1D1D1D;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.x2_j_count__btn:focus,
.x2_j_count__btn:focus-visible {
  outline: none;
}

.x2_j_count__btn:focus-visible,
.x2_j_count__btn:hover,
.x2_j_count__btn:active {
  background-color: black;
}

.x2_j_count__btn.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.x2_j_count__input {
  width: 56px;
  height: 48px;
  border: none;
  text-align: center;
  background-color: transparent;
  color: var(--white);
  text-align: center;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  pointer-events: none;
}

.x2_j_count__input:focus,
.x2_j_count__input:focus-visible {
  outline: none;
}

.x2_j_count__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.x2_j_count__price .actual {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: var(--white);
  text-align: right;
  font-family: var(--second-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  -webkit-transform: scaleX(1.2);
      -ms-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.swiper-student-reviews {
  overflow: visible;
}

.swiper-student-reviews .swiper-wrapper {
  margin-bottom: 28px;
}

.swiper-student-reviews .swiper-slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

.swiper-student-reviews__group-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 8px;
}

.swiper-student-reviews__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1D1D1D;
  -webkit-transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.swiper-student-reviews__btn.swiper-button-lock {
  pointer-events: none;
  opacity: 0.3;
}

.swiper-student-reviews__btn .small {
  position: absolute;
}

.swiper-student-reviews__btn .big {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.swiper-student-reviews__btn:focus,
.swiper-student-reviews__btn:focus-visible {
  outline: none;
}

.swiper-student-reviews__btn:focus-visible,
.swiper-student-reviews__btn:hover,
.swiper-student-reviews__btn:active {
  width: 108px;
  background-color: var(--pink);
}

.swiper-student-reviews__btn:focus-visible .small,
.swiper-student-reviews__btn:hover .small,
.swiper-student-reviews__btn:active .small {
  opacity: 0;
  visibility: hidden;
}

.swiper-student-reviews__btn:focus-visible .big,
.swiper-student-reviews__btn:hover .big,
.swiper-student-reviews__btn:active .big {
  opacity: 1;
  visibility: visible;
}

.card-student-reviews {
  min-height: 305.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 29px;
  padding: 28px 28px 32px 28px;
  background-color: var(--grape, #19084B);
}

.card-student-reviews__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-student-reviews__box-avatar {
  width: 68px;
  height: 68px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card-student-reviews__box-avatar picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-student-reviews__box-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-student-reviews__box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.card-student-reviews__title {
  color: #FFF;
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.card-student-reviews__desc {
  color: var(--white, #FFF);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  opacity: 0.5;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1.2em;
  line-height: 1.2em;
}

.card-student-reviews__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 39px;
}

.card-student-reviews__main-desc {
  overflow: hidden;
  color: var(--white);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.card-student-reviews__main-desc.hidden-desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.8em;
  line-height: 1.2em;
}

.card-student-reviews__btn {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--pink, #D9315A);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.card-student-reviews__btn::before {
  content: "";
  position: absolute;
  inset: auto 0 -1px 0;
  height: 1px;
  background-color: var(--pink, #D9315A);
}

.card-student-reviews__btn:focus,
.card-student-reviews__btn:focus-visible {
  outline: none;
}

.section-student-reviews-p-s {
  margin-bottom: 142px;
  overflow: hidden;
}

.section-contacts-p-s .section-title {
  max-width: 87%;
  margin-bottom: 52px;
}

.section-contacts-p-s__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.3684210526%;
}

.section-contacts-p-s__left {
  width: 42.6315789474%;
}

.section-contacts-p-s__right {
  margin-right: -190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-contacts-p-s__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 600px;
}

.section-contacts-p-s__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-contacts-p-s__address-top {
  padding-bottom: 34px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.section-contacts-p-s__address-top span {
  color: var(--white, #FFF);
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  opacity: 0.5;
}

.section-contacts-p-s__address-top a,
.section-contacts-p-s__address-top p {
  color: #FFF;
  font-family: var(--font-family);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.section-contacts-p-s__address-top a:focus,
.section-contacts-p-s__address-top a:focus-visible,
.section-contacts-p-s__address-top p:focus,
.section-contacts-p-s__address-top p:focus-visible {
  outline: none;
}

.section-contacts-p-s__address-bottom {
  padding-top: 39px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  border-top: 1px solid rgba(255, 255, 255, 0.3098039216);
}

.section-contacts-p-s__address-bottom span {
  color: var(--white, #FFF);
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  opacity: 0.5;
}

.section-contacts-p-s__address-bottom a,
.section-contacts-p-s__address-bottom p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #FFF;
  font-family: var(--font-family);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.56px;
}

.section-contacts-p-s__address-bottom a.network,
.section-contacts-p-s__address-bottom p.network {
  position: relative;
  color: var(--pink, #D9315A);
}

.section-contacts-p-s__address-bottom a.network::before,
.section-contacts-p-s__address-bottom p.network::before {
  content: "";
  position: absolute;
  inset: auto 0 1px 0;
  height: 2px;
  background-color: var(--pink, #D9315A);
}

.section-contacts-p-s__box-btn {
  padding-top: 96px;
}

.section-contacts-p-s__btn {
  width: 100%;
  max-width: 396px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 56px;
  color: #FFF;
  text-align: center;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.333%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  border-radius: 1.243px;
  border: 1px solid var(--white, #FFF);
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.section-contacts-p-s__btn:focus,
.section-contacts-p-s__btn:focus-visible {
  outline: none;
}

.section-contacts-p-s__btn:focus-visible,
.section-contacts-p-s__btn:hover,
.section-contacts-p-s__btn:active {
  background-color: var(--pink);
}

.section-answers-p-s .section-title {
  margin-bottom: 19px;
}

.section-answers-p-s__desc-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 49px;
}

.section-answers-p-s__desc {
  max-width: 1100px;
  color: var(--white, #FFF);
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.section-answers-p-s .box-answers-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-answers-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.card-answers-tab:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.card-answers-tab:has(.card-answers-tab__btn.active) {
  background-color: var(--grape, #19084B);
}

.card-answers-tab__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  height: 110px;
  padding: 13px 48px;
  text-align: start;
  color: #FFF;
  font-family: var(--second-family);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-answers-tab__btn .svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: var(--pink);
}

.card-answers-tab__btn svg {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.card-answers-tab__btn.active svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card-answers-tab__btn.active + .card-answers-tab__box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-answers-tab__btn:focus,
.card-answers-tab__btn:focus-visible {
  outline: none;
}

.card-answers-tab__box-info {
  display: none;
  padding: 0 48px 48px 48px;
}

.card-answers-tab__box-info.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-answers-tab__desc {
  color: var(--white, #FFF);
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  /* 27px */
}

.section-free-master-p-s {
  position: relative;
}

.section-free-master-p-s::before {
  content: "";
  position: absolute;
  inset: -70px 0 -70px 0;
  z-index: 0;
  background-image: url(../img/page-school/section-free-master-p-s/bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 0 center;
}

.section-free-master-p-s__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.8421052632%;
}

.section-free-master-p-s__left {
  width: 49.0789473684%;
}

.section-free-master-p-s__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-free-master-p-s__right-wrapper {
  margin-top: -19px;
  padding: 56px 56px 90px;
  background-color: var(--black, #141414);
  background-image: url(../img/page-school/section-free-master-p-s/bg2.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

.section-free-master-p-s .section-title {
  width: 80%;
  margin-bottom: 15px;
}

.section-free-master-p-s__box-btn {
  padding-top: 36px;
}

.section-free-master-p-s__btn {
  max-width: 346px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 36px;
  height: 52px;
  color: #FFF;
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  border-radius: 1.243px;
  background-color: var(--pink, #D9315A);
}

.section-free-master-p-s__title {
  margin-bottom: 30px;
  color: #FFF;
  font-family: var(--second-family);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.static-p {
  color: var(--white, #FFF);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
}

.static-ul-1 {
  color: var(--white, #FFF);
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
}

.static-ul-1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}

.static-ul-1 ul li {
  padding-left: 44px;
  background-image: url(../img/static/ul-1.svg);
  background-repeat: no-repeat;
  background-position: left top;
}

.section-other-services-p-s {
  overflow: hidden;
}

.section-other-services-p-s__scroll-wrapper {
  margin: 0 -24px;
  padding: 0 24px;
  overflow-x: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE и Edge */
}

.section-other-services-p-s__scroll-wrapper::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.section-other-services-p-s__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  min-width: 1306px;
}

.card-other-services {
  position: relative;
  overflow: hidden;
}

.card-other-services:has(.card-other-services__link:hover) .card-other-services__img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.card-other-services picture {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-other-services picture.card-other-services__picture {
  position: static;
  width: auto;
  height: auto;
}

.card-other-services__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.card-other-services::before {
  content: "";
  display: block;
  padding-top: 80.82%;
}

.card-other-services__link {
  padding: 28px;
  position: absolute;
  inset: 0;
  z-index: 2;
}

.card-other-services__link::before {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.04)), to(rgba(0, 0, 0, 0.04))), -webkit-gradient(linear, left top, left bottom, color-stop(-9.56%, rgba(0, 0, 0, 0.4)), color-stop(57.25%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.04) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.4) -9.56%, rgba(0, 0, 0, 0) 57.25%);
}

.card-other-services__link img {
  position: relative;
  z-index: 3;
}

.card-other-services__link:focus,
.card-other-services__link:focus-visible {
  outline: none;
}

.card-other-services__title {
  display: none;
}

@media (max-width: 1919px) {
  .section-contacts-p-s__right {
    margin-right: -24px;
  }
}

@media (max-width: 1290px) {
  .section-advantages-p-s__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 43px;
  }

  .card-master-class__title {
    font-size: 40px;
  }

  .card-master-class__title::after {
    width: 208px;
    height: 20px;
    left: 55px;
  }
}

@media (max-width: 1250px) {
  .card-advantages-p-s {
    padding: 0;
  }

  .section-courses-p-s__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card-courses-p-s {
    min-height: 381px;
  }

  .card-courses-p-s__box-img {
    width: 29.9180327869%;
  }

  .card-courses-p-s__group-bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .card-courses-p-s__basket {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .card-courses-p-s__detail {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 1100px) {
  .x2_j_path {
    padding-top: 32px;
  }

  .x2_j_path__item {
    font-size: 14px;
  }

  .x2_j_path__link {
    font-size: 14px;
  }

  .section-hero-page .card-hero__info-top img {
    -webkit-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
    width: 292px;
  }

  .section-hero-page .card-hero__desc {
    max-width: 230px;
  }

  .card-advantages-p-s {
    gap: 21px;
  }

  .card-advantages-p-s__title {
    font-size: 40px;
  }

  .card-advantages-p-s__desc {
    font-size: 18px;
  }

  .card-master-class__left {
    padding: 40px;
    gap: 38px;
  }

  .card-master-class__right {
    width: 26.6393442623%;
  }

  .card-master-class__desc {
    font-size: 20px;
  }

  .card-master-class__link {
    padding: 40px;
    background-image: url(../img/page-school/section-master-p-s/card-master-class/ornament1100.svg);
  }

  .section-courses-p-s {
    margin-bottom: 102px;
  }

  .card-courses-p-s__box-info {
    padding: 32px;
    gap: 36px;
  }

  .card-courses-p-s__title {
    font-size: 24px;
  }

  .card-courses-p-s__desc {
    line-height: 125%;
  }

  .card-courses-p-s__box-count {
    padding-top: 36px;
  }

  .swiper-student-reviews .swiper-wrapper {
    margin-bottom: 21px;
  }

  .swiper-student-reviews__btn {
    height: 52px;
  }

  .card-student-reviews {
    min-height: 295px;
    gap: 17px;
  }

  .card-student-reviews__desc {
    -webkit-line-clamp: 2;
    max-height: 2.4em;
  }

  .card-student-reviews__bottom {
    gap: 36px;
  }

  .section-student-reviews-p-s {
    margin-bottom: 103px;
  }

  .section-contacts-p-s .section-title {
    max-width: 80%;
    margin-bottom: 27px;
  }

  .section-contacts-p-s__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.4590163934%;
  }

  .section-contacts-p-s__left {
    width: 48.7704918033%;
  }

  .section-contacts-p-s__map {
    min-height: 489px;
  }

  .section-contacts-p-s__address-top {
    padding-bottom: 30px;
  }

  .section-contacts-p-s__address-top span {
    font-size: 17px;
  }

  .section-contacts-p-s__address-top a,
  .section-contacts-p-s__address-top p {
    font-size: 22px;
  }

  .section-contacts-p-s__address-bottom {
    gap: 5px;
    padding-top: 34px;
  }

  .section-contacts-p-s__address-bottom span {
    font-size: 17px;
  }

  .section-contacts-p-s__address-bottom a,
  .section-contacts-p-s__address-bottom p {
    font-size: 22px;
  }

  .section-contacts-p-s__btn {
    height: 64px;
  }

  .section-contacts-p-s__box-btn {
    padding-top: 73px;
  }

  .section-contacts-p-s__btn {
    max-width: 100%;
  }

  .section-answers-p-s .section-title {
    margin-bottom: 14px;
  }

  .section-answers-p-s__desc {
    font-size: 18px;
  }

  .section-answers-p-s__desc-top {
    margin-bottom: 41px;
  }

  .card-answers-tab__btn {
    height: 107px;
    font-size: 24px;
  }

  .card-answers-tab__btn .svg {
    width: 44px;
    height: 44px;
  }

  .card-answers-tab__box-info {
    margin-top: -13px;
  }

  .card-answers-tab__desc {
    font-size: 18px;
  }

  .section-free-master-p-s::before {
    inset: -35px 0 -70px 0;
    background-image: url("../img/page-school/section-free-master-p-s/bg(1100).svg");
  }

  .section-free-master-p-s__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 43px;
  }

  .section-free-master-p-s__left {
    width: 100%;
  }

  .section-free-master-p-s .section-title {
    margin-bottom: 34px;
  }

  .section-free-master-p-s__btn {
    max-width: 476px;
    height: 64px;
  }

  .section-free-master-p-s__right-wrapper {
    margin-top: 0;
    padding: 48px;
    background-size: contain;
  }

  .section-free-master-p-s__title {
    font-size: 28px;
  }

  .static-ul-1 {
    font-size: 18px;
  }

  .static-ul-1 ul {
    gap: 23px;
  }

  .section-other-services-p-s__content {
    gap: 20px;
  }

  .card-other-services::before {
    padding-top: 78.67%;
  }
}

@media (max-width: 1000px) {
  .x2_j_path {
    padding-top: 28px;
  }

  .x2_j_path__list {
    display: none;
  }

  .x2_j_path__box-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .card-master-class__right {
    display: none;
  }

  .card-master-class__title {
    font-size: 28px;
  }

  .card-master-class__title::after {
    width: 152px;
    height: 16px;
    left: 41px;
  }

  .section-contacts-p-s__right {
    margin-right: -16px;
  }

  .section-other-services-p-s__scroll-wrapper {
    margin: 0 -16px;
    padding: 0 16px;
  }

  .card-other-services::before {
    padding-top: 75.61%;
  }
}

@media (max-width: 710px) {
  .section-hero-page__btn {
    height: 56px;
    width: 100%;
    max-width: 280px;
  }

  .section-hero-page .card-hero__info-top {
    gap: 4px;
  }

  .section-hero-page .card-hero__info-top img {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    width: 216px;
  }

  .section-advantages-p-s {
    margin-bottom: 56px;
  }

  .section-advantages-p-s__list {
    row-gap: 32px;
  }

  .card-advantages-p-s {
    gap: 12px;
  }

  .card-advantages-p-s__title {
    font-size: 28px;
  }

  .card-advantages-p-s__desc {
    font-size: 16px;
  }

  .card-master-class {
    margin: 0 -16px;
  }

  .card-master-class__left {
    padding: 28px 16px;
    gap: 24px;
  }

  .card-master-class__title {
    max-width: 200px;
    gap: 7px;
  }

  .card-master-class__title::after {
    bottom: 28px;
  }

  .card-master-class__desc {
    font-size: 18px;
  }

  .section-courses-p-s {
    margin-bottom: 75px;
  }

  .section-courses-p-s::before {
    display: none;
  }

  .section-courses-p-s__list {
    gap: 12px;
  }

  .card-courses-p-s {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 702px;
  }

  .card-courses-p-s__box-img {
    width: 100%;
    max-height: 500px;
    height: calc(304px + 196 * (100vw - 360px) / 350);
  }

  .card-courses-p-s__box-info {
    gap: 28px;
    padding: 24px;
  }

  .card-courses-p-s__title {
    font-size: 20px;
  }

  .card-courses-p-s__desc {
    font-size: 14px;
  }

  .card-courses-p-s__box-count {
    padding-top: 28px;
    gap: 28px;
  }

  .card-courses-p-s__group-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4px;
  }

  .card-courses-p-s__basket {
    min-height: 52px;
  }

  .card-courses-p-s__detail {
    min-height: 52px;
  }

  .x2_j_count__btn {
    width: 44px;
    height: 44px;
  }

  .x2_j_count__input {
    width: 48px;
    height: 44px;
  }

  .x2_j_count__price .actual {
    font-size: 25px;
  }

  .swiper-student-reviews .swiper-wrapper {
    margin-bottom: 18px;
  }

  .swiper-student-reviews__btn {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
    height: 52px;
  }

  .card-student-reviews {
    min-height: 273px;
    padding: 24px;
    gap: 21px;
  }

  .card-student-reviews__bottom {
    gap: 30px;
  }

  .card-student-reviews__btn {
    font-size: 16px;
  }

  .section-student-reviews-p-s {
    margin-bottom: 75px;
  }

  .section-contacts-p-s .section-title {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-bottom: 22px;
  }

  .section-contacts-p-s__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 67px;
  }

  .section-contacts-p-s__left {
    width: 100%;
  }

  .section-contacts-p-s__right {
    margin-left: -16px;
    min-height: 360px;
  }

  .section-contacts-p-s__address-top {
    gap: 1px;
    padding-bottom: 24px;
  }

  .section-contacts-p-s__address-top a,
  .section-contacts-p-s__address-top p {
    font-size: 18px;
  }

  .section-contacts-p-s__address-bottom {
    border: none;
    padding-top: 0;
  }

  .section-contacts-p-s__address-bottom a,
  .section-contacts-p-s__address-bottom p {
    font-size: 18px;
  }

  .section-contacts-p-s__box-btn {
    display: none;
  }

  .section-contacts-p-s__map {
    min-height: 360px;
  }

  .section-answers-p-s .section-title {
    margin-bottom: 23px;
  }

  .section-answers-p-s__desc {
    font-size: 16px;
  }

  .section-answers-p-s__desc-top {
    margin-bottom: 30px;
  }

  .card-answers-tab__btn {
    height: 94px;
    padding: 13px 24px;
    font-size: 20px;
  }

  .card-answers-tab__btn .svg {
    width: 40px;
    height: 40px;
  }

  .card-answers-tab__box-info {
    margin-top: -6px;
    padding: 0 25px 28px 25px;
  }

  .card-answers-tab__desc {
    font-size: 16px;
  }

  .section-free-master-p-s::before {
    display: none;
  }

  .section-free-master-p-s .section-title {
    margin-bottom: 25px;
  }

  .section-free-master-p-s__content {
    gap: 36px;
  }

  .section-free-master-p-s__box-btn {
    padding-top: 28px;
  }

  .section-free-master-p-s__btn {
    max-width: 100%;
    height: 56px;
  }

  .section-free-master-p-s__right-wrapper {
    padding: 24px;
    background-image: url("../img/page-school/section-free-master-p-s/bg2(710).svg");
    background-position: bottom right;
    background-size: auto;
  }

  .section-free-master-p-s__title {
    margin-bottom: 18px;
    font-size: 22px;
  }

  .static-ul-1 {
    font-size: 17px;
    line-height: 132%;
  }

  .static-ul-1 ul {
    gap: 20px;
  }

  .section-other-services-p-s__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 12px;
    min-width: 100%;
  }
}