.x2_j_box-basket {
  margin-top: 56px;
  margin-bottom: 116px;
}

.x2_j_box-basket__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.x2_j_box-basket__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.x2_j_box-basket__right {
  width: 23.6184210526%;
}

.x2_j_box-basket__mobile-menu {
  display: none;
}

.x2_j_box-basket__mobile-menu .x2_j_container {
  width: 100%;
}

.x2_j_box-basket__mobile-menu-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.x2_j_box-basket__mobile-menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.x2_j_box-basket .mobile-menu-top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.x2_j_box-basket .mobile-menu-top__info .name {
  color: var(--gray-50, #979797);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.x2_j_box-basket .mobile-menu-top__info .info {
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.x2_j_box-basket .mobile-menu-botton__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--pink);
  color: var(--white);
}

.x2_j_box-basket .mobile-menu-botton__link:focus,
.x2_j_box-basket .mobile-menu-botton__link:focus-visible {
  outline: none;
}

.card-basket-order {
  position: sticky;
  top: 28px;
  background-color: var(--white);
}

.card-basket-order__top {
  padding: 32px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.card-basket-order__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.card-basket-order__title {
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-basket-order__list-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.card-basket-order__box-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.card-basket-order__box-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.card-basket-order__desc {
  color: var(--gray-50, #979797);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.card-basket-order__promo-info {
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.card-basket-order__promo-cancel {
  color: var(--pink, #D9315A);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-decoration: underline;
}

.card-basket-order__line-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.card-basket-order__line-total .name {
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-basket-order__line-total .price {
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-basket-order__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-basket-order__place-order {
  width: 100%;
  padding: 16px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--pink);
  color: var(--white, #FFF);
  text-align: center;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.36px;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.card-basket-order__place-order:focus,
.card-basket-order__place-order:focus-visible {
  outline: none;
}

.prise-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prise-line .name {
  color: var(--text-gray, #CCC);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.prise-line .info {
  color: var(--black, #141414);
  text-align: right;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promo-code-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.promo-code-box__submit {
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 16px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--violet, #381067);
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.promo-code-box__submit:focus,
.promo-code-box__submit:focus-visible {
  outline: none;
}

.input-tipe-1 {
  width: 100%;
  padding: 16px 50px 16px 16px;
  height: 56px;
  border: 1px solid var(--gray-30, #D2D2D2);
  color: var(--black);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.input-tipe-1::-webkit-input-placeholder {
  color: var(--text-gray, #CCC);
}

.input-tipe-1::-moz-placeholder {
  color: var(--text-gray, #CCC);
}

.input-tipe-1:-ms-input-placeholder {
  color: var(--text-gray, #CCC);
}

.input-tipe-1::-ms-input-placeholder {
  color: var(--text-gray, #CCC);
}

.input-tipe-1::placeholder {
  color: var(--text-gray, #CCC);
}

.input-tipe-1:focus,
.input-tipe-1:focus-visible {
  outline: none;
}

.box-reg-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}

.box-reg-order .card-answers-tab:has(.card-answers-tab__btn.active) {
  background-color: var(--white);
}

.box-reg-order .card-answers-tab__btn {
  height: 36px;
  padding: 0 8px;
  color: var(--black);
}

.box-reg-order .card-answers-tab__btn .svg {
  width: 36px;
  height: 36px;
  background-color: var(--violet, #381067);
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.box-reg-order .card-answers-tab__box-info {
  padding: 28px 8px 0 8px;
}

.box-reg-order__content {
  padding: 24px;
  background-color: var(--white, #FFF);
}

.box-reg-order__title {
  margin-bottom: 12px;
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.box-reg-order__warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 28px;
  padding-left: 44px;
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
  background-image: url("../img/box-reg-order/war.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.box-reg-order__warning-cloce {
  position: absolute;
  top: -14px;
  right: -14px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-reg-order__warning-cloce:focus,
.box-reg-order__warning-cloce:focus-visible {
  outline: none;
}

.static-table-period-deliv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.static-table-period-deliv__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.static-table-period-deliv__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.static-table-period-deliv__wrapp .prefix {
  color: var(--text-gray, #CCC);
  font-family: var(--font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.static-table-period-deliv__wrapp .info {
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.static-table-period-deliv .main-info {
  margin-bottom: 8px;
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.box-gift-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-gift {
  padding: 24px 46px 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E6E6E6;
}

.card-gift__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.card-gift__box-img {
  width: 93px;
  height: 93px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card-gift__box-img img {
  width: 93px;
  height: 93px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-gift__box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.card-gift__title {
  margin: 0;
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-gift__group-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}

.card-gift__group-tags .tag {
  padding: 4px 12px;
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.26px;
  background-color: var(--pink, #D9315A);
  color: var(--white);
}

.card-gift__btn {
  max-width: 100%;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--black, #141414);
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.32px;
  padding: 10px;
  height: 48px;
  border-radius: 1.243px;
  border: 1px solid var(--gray-30, #D2D2D2);
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.card-gift__btn:focus,
.card-gift__btn:focus-visible {
  outline: none;
}

.place-delivery {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.place-delivery__desc {
  color: var(--gray-50, #979797);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.input-tipe-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-tipe-2__input {
  height: 63px;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  color: var(--black);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  border: 1px solid var(--gray-30, #D2D2D2);
}

.input-tipe-2__input::-webkit-input-placeholder {
  color: var(--text-gray, #CCC);
}

.input-tipe-2__input::-moz-placeholder {
  color: var(--text-gray, #CCC);
}

.input-tipe-2__input:-ms-input-placeholder {
  color: var(--text-gray, #CCC);
}

.input-tipe-2__input::-ms-input-placeholder {
  color: var(--text-gray, #CCC);
}

.input-tipe-2__input::placeholder {
  color: var(--text-gray, #CCC);
}

.input-tipe-2__input:focus,
.input-tipe-2__input:focus-visible {
  outline: none;
}

.choice-delivery {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
}

.choice-delivery__warning {
  padding: 24px;
  background-color: #F9F9F9;
}

.choice-delivery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choice-delivery__item {
  padding: 20px 0;
  border-bottom: 1px solid var(--gray-10, #F3F3F3);
}

.choice-delivery__item:first-child {
  padding-top: 0;
}

.choice-delivery__item:last-child {
  padding-bottom: 0;
  border: none;
}

.card-choice-delivery {
  position: relative;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.card-choice-delivery:has(.checkbox-type-1__input:checked) {
  background-color: var(--violet, #381067);
}

.card-choice-delivery:has(.checkbox-type-1__input:checked) .box-info .info {
  color: var(--white);
}

.card-choice-delivery:has(.checkbox-type-1__input:checked) .card-choice-delivery__bottom {
  color: var(--white);
}

.card-choice-delivery:has(.checkbox-type-1__input:checked) .card-choice-delivery__link {
  visibility: visible;
  opacity: 1;
}

.card-choice-delivery__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.card-choice-delivery__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.card-choice-delivery__bottom {
  color: var(--gray-50, #979797);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.card-choice-delivery__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-choice-delivery__group-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 66px;
}

.card-choice-delivery .box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.card-choice-delivery .box-info.location {
  gap: 10px;
}

.card-choice-delivery .box-info.location img {
  max-width: 90px;
  max-height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-choice-delivery .box-info.location .info {
  font-family: var(--second-family);
  font-weight: 600;
}

.card-choice-delivery .box-info .prefix {
  white-space: nowrap;
  color: var(--text-gray, #CCC);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.card-choice-delivery .box-info .info {
  white-space: nowrap;
  color: var(--wireframe-text, #5A5A5A);
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.card-choice-delivery__link {
  visibility: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  width: 224px;
  height: 48px;
  padding: 7px 10px;
  color: var(--white, #FFF);
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.32px;
  background-color: var(--pink);
  -webkit-transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.card-choice-delivery__link:focus,
.card-choice-delivery__link:focus-visible {
  outline: none;
}

.checkbox-type-1 {
  cursor: pointer;
  position: relative;
}

.checkbox-type-1__input {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.checkbox-type-1__input:checked + .castom {
  border-color: transparent;
}

.checkbox-type-1__input:checked + .castom img {
  opacity: 1;
}

.checkbox-type-1 .castom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3px;
  width: 26px;
  height: 26px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid var(--gray-30, #D2D2D2);
  -webkit-transition: border-color 0.4s ease-in-out;
  transition: border-color 0.4s ease-in-out;
}

.checkbox-type-1 .castom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.choice-payment {
  padding-top: 24px;
}

.choice-payment__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.card-choice-payment {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  border: 1px solid var(--gray-30, #D2D2D2);
  -webkit-transition: border-color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: border-color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.card-choice-payment:has(.checkbox-type-1__input:checked) {
  background-color: var(--violet, #381067);
  border-radius: var(--violet, #381067);
}

.card-choice-payment:has(.checkbox-type-1__input:checked) .card-choice-payment__group-info .name {
  color: var(--white);
}

.card-choice-payment:has(.checkbox-type-1__input:checked) .card-choice-payment__group-info .desc {
  color: var(--white);
}

.card-choice-payment__group-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.card-choice-payment__group-info .name {
  margin: 0;
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.card-choice-payment__group-info .desc {
  max-width: 240px;
  color: var(--gray-50, #979797);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.box-info-buyer {
  padding-top: 24px;
}

.box-info-buyer__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.box-info-buyer__top .textarea-type-1 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.textarea-type-1 {
  resize: none;
  height: 200px;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  color: var(--black);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  border: 1px solid var(--gray-30, #D2D2D2);
}

.textarea-type-1::-webkit-input-placeholder {
  color: var(--text-gray, #CCC);
}

.textarea-type-1::-moz-placeholder {
  color: var(--text-gray, #CCC);
}

.textarea-type-1:-ms-input-placeholder {
  color: var(--text-gray, #CCC);
}

.textarea-type-1::-ms-input-placeholder {
  color: var(--text-gray, #CCC);
}

.textarea-type-1::placeholder {
  color: var(--text-gray, #CCC);
}

.textarea-type-1:focus,
.textarea-type-1:focus-visible {
  outline: none;
}

.basket-products {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-basket-products {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 36px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E6E6E6;
}

.card-basket-products:first-child {
  padding-top: 0;
}

.card-basket-products:last-child {
  padding-bottom: 0;
  border: none;
}

.card-basket-products__name {
  max-width: 100%;
  width: 287px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.card-basket-products__name .box-img {
  width: 93px;
  height: 93px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card-basket-products__name .box-img img {
  width: 93px;
  height: 93px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-basket-products__name .box-img__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-basket-products__name .box-img__link:focus,
.card-basket-products__name .box-img__link:focus-visible {
  outline: none;
}

.card-basket-products__name .box-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.card-basket-products__name .box-desc .name {
  margin: 0;
  color: var(--black, #141414);
  font-family: var(--second-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-basket-products__name .box-desc .number {
  color: var(--wireframe-g_400, #B3B3B3);
  font-family: var(--font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.card-basket-products__name .box-desc .number i {
  font-style: normal;
  color: var(--black, #141414);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-basket-products__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 32px;
}

.card-basket-products__drop-down {
  width: 100%;
  width: 142px;
}

.card-basket-products__switcher {
  width: 100%;
  width: 140px;
}

.card-basket-products__price-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.card-basket-products__price-one .title {
  white-space: nowrap;
  color: var(--text-gray, #CCC);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.card-basket-products__price-one .price {
  white-space: nowrap;
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}

.card-basket-products__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.card-basket-products__count .x2_j_count__btn {
  width: 44px;
  height: 44px;
  background-color: #F8F4F3;
  color: var(--violet, #381067);
  -webkit-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.card-basket-products__count .x2_j_count__input {
  width: 44px;
  height: 44px;
  font-size: 16px;
  color: var(--violet, #381067);
}

.card-basket-products__count .x2_j_card-product__price .price {
  white-space: nowrap;
  color: var(--black, #141414);
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}

@media (min-width: 1001px) {
  .card-basket-order__place-order:focus-visible,
  .card-basket-order__place-order:hover {
    background-color: var(--grape);
  }

  .promo-code-box__submit:focus-visible,
  .promo-code-box__submit:hover {
    background-color: var(--pink);
  }

  .box-reg-order .card-answers-tab__btn:focus-visible .svg,
  .box-reg-order .card-answers-tab__btn:hover .svg {
    background-color: var(--pink);
  }

  .card-gift__btn:focus-visible,
  .card-gift__btn:hover {
    background-color: var(--gray-30, #D2D2D2);
  }

  .card-choice-delivery__link:focus-visible,
  .card-choice-delivery__link:hover {
    background-color: var(--violet);
  }

  .card-basket-products__count .x2_j_count__btn:focus-visible,
  .card-basket-products__count .x2_j_count__btn:hover {
    color: var(--white);
    background-color: var(--pink);
  }
}

@media (max-width: 1300px) {
  .x2_j_box-basket {
    margin-top: 44px;
    margin-bottom: 104px;
  }

  .x2_j_box-basket__wrapper {
    gap: 24px;
  }

  .x2_j_box-basket__right {
    width: 309px;
  }

  .card-basket-order {
    top: 44px;
  }

  .card-basket-order__top {
    padding: 24px;
    gap: 20px;
  }

  .card-basket-order__main-info {
    gap: 20px;
  }

  .card-basket-order__title {
    font-size: 24px;
  }

  .card-basket-order__list-price {
    gap: 13px;
  }

  .card-basket-order__box-total {
    gap: 20px;
  }

  .card-basket-order__box-form {
    gap: 8px;
  }

  .card-basket-order__desc {
    font-size: 13px;
  }

  .card-basket-order__promo-info {
    font-size: 13px;
  }

  .card-basket-order__promo-cancel {
    font-size: 13px;
  }

  .card-basket-order__line-total {
    gap: 20px;
  }

  .card-basket-order__place-order {
    height: 64px;
    font-size: 17px;
  }

  .prise-line {
    gap: 20px;
  }

  .prise-line .name {
    font-size: 16px;
  }

  .prise-line .info {
    font-size: 16px;
  }

  .promo-code-box__submit {
    top: 14px;
    right: 14px;
  }

  .input-tipe-1 {
    height: 52px;
    font-size: 16px;
    padding: 14px 50px 14px 16px;
  }

  .box-reg-order .card-answers-tab__btn {
    height: 32px;
    padding: 0;
  }

  .box-reg-order .card-answers-tab__btn .svg {
    width: 32px;
    height: 32px;
  }

  .card-gift {
    padding: 20px 0;
  }

  .card-gift__box-img img {
    width: 64px;
    height: 64px;
  }

  .card-gift__box-img {
    width: 64px;
    height: 64px;
  }

  .card-gift__title {
    font-size: 18px;
  }

  .card-gift__btn {
    width: 164px;
    font-size: 15px;
    height: 40px;
  }

  .choice-delivery {
    padding-top: 12px;
    gap: 24px;
  }

  .choice-delivery__warning {
    padding: 20px;
  }

  .card-choice-delivery {
    gap: 16px;
  }

  .card-choice-delivery__bottom {
    font-size: 15px;
  }

  .card-choice-delivery__left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .card-choice-delivery__group-info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    gap: 20px;
  }

  .card-choice-delivery .box-info .prefix {
    font-size: 15px;
  }

  .card-choice-delivery .box-info .info {
    font-size: 18px;
  }

  .card-choice-delivery__right {
    display: none;
  }

  .choice-payment {
    padding-top: 12px;
  }

  .choice-payment__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .card-choice-payment {
    padding: 20px;
    gap: 20px;
  }

  .box-info-buyer {
    padding-top: 12px;
  }

  .basket-products {
    padding-top: 12px;
  }

  .card-basket-products {
    padding: 20px 0;
    gap: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card-basket-products__name {
    width: 258px;
  }

  .card-basket-products__name .box-img {
    width: 64px;
    height: 64px;
  }

  .card-basket-products__name .box-img img {
    width: 64px;
    height: 64px;
  }

  .card-basket-products__name .box-desc {
    gap: 4px;
  }

  .card-basket-products__name .box-desc .name {
    font-size: 18px;
  }

  .card-basket-products__name .box-desc .number {
    font-size: 14px;
    gap: 2px;
  }

  .card-basket-products__details {
    gap: 8px;
  }

  .card-basket-products__switcher {
    width: 125px;
  }

  .card-basket-products__price-one {
    display: none;
  }

  .card-basket-products__count {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    gap: 8px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .card-basket-products__count .x2_j_card-product__price {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }

  .card-basket-products__count .x2_j_card-product__price .title {
    font-size: 13px;
  }

  .card-basket-products__count .x2_j_card-product__price .price {
    font-size: 18px;
  }
}

@media (max-width: 1100px) {
  .box-reg-order .card-answers-tab__box-info {
    padding: 24px 0 0 0;
    margin-top: 0;
  }

  .box-reg-order__warning {
    font-size: 17px;
  }

  .static-table-period-deliv {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .static-table-period-deliv__col {
    gap: 8px;
  }

  .static-table-period-deliv__wrapp .prefix {
    font-size: 14px;
  }

  .static-table-period-deliv__wrapp .info {
    font-size: 16px;
  }

  .static-table-period-deliv .main-info {
    font-size: 18px;
  }

  .place-delivery {
    padding-top: 12px;
  }

  .place-delivery__desc {
    font-size: 13px;
  }

  .input-tipe-2__input {
    padding: 7px 20px;
    height: 52px;
    font-size: 17px;
  }

  .textarea-type-1 {
    padding: 7px 20px;
    height: 164px;
    font-size: 17px;
  }
}

@media (max-width: 1000px) {
  .x2_j_box-basket {
    margin-top: 36px;
    margin-bottom: 76px;
  }

  .x2_j_box-basket__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 28px;
  }

  .x2_j_box-basket__right {
    width: 100%;
  }

  .x2_j_box-basket__mobile-menu {
    padding: 16px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    z-index: 2;
    inset: auto 0 0 0;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 -4px 8px 0 rgba(0, 0, 0, 0.06);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 -4px 8px 0 rgba(0, 0, 0, 0.06);
  }

  .card-basket-order {
    position: static;
    top: 0;
  }

  .card-basket-order__list-price {
    gap: 12px;
  }

  .box-reg-order .card-answers-tab__box-info {
    padding: 28px 0 0 0;
  }

  .box-reg-order__content {
    padding: 20px;
  }

  .box-reg-order__title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .box-reg-order__warning {
    padding-top: 40px;
    padding-left: 0;
    font-size: 16px;
    background-position: left top;
  }

  .card-gift {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .card-gift__left {
    width: 100%;
    gap: 12px;
  }

  .card-gift__right {
    width: 100%;
  }

  .card-gift__btn {
    width: 100%;
    height: 44px;
  }

  .place-delivery__desc {
    font-size: 14px;
  }

  .input-tipe-2__input {
    font-size: 16px;
  }

  .choice-delivery__warning {
    padding: 16px;
  }

  .choice-delivery__item {
    padding: 16px 0;
  }

  .card-choice-delivery {
    padding: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .card-choice-delivery__wrapper {
    gap: 16px;
  }

  .card-choice-delivery__group-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }

  .card-choice-delivery .box-info.location .info {
    font-size: 20px;
  }

  .card-choice-delivery .box-info .prefix {
    font-size: 14px;
  }

  .card-choice-payment {
    padding: 16px;
    gap: 12px;
  }

  .card-choice-payment__group-info .name {
    font-size: 18px;
  }

  .card-choice-payment__group-info .desc {
    max-width: 220px;
    font-size: 15px;
  }

  .box-info-buyer__top {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .box-info-buyer__top .textarea-type-1 {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .textarea-type-1 {
    font-size: 16px;
    height: 152px;
  }

  .card-basket-products {
    gap: 20px;
  }

  .card-basket-products__name {
    max-width: 288px;
  }

  .card-basket-products__details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .card-basket-products__switcher {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .card-basket-products__count {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}