.swiper-reviews-product {
  .swiper-slide {
    box-sizing: border-box;
    height: auto;
  }
  &__line-nav {
    padding-top: 32px;
    padding-right: 250px;
    @media (max-width: 1100px) {
      padding-top: 22px;
    }
    @media (max-width: 1000px) {
      padding-top: 20px;
    }
  }
  &__group-nav {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .swiper-student-reviews__btn {
    background-color: #F8F4F3;
    @media (max-width: 1100px) {
      height: 48px;
      &.--prev {
        flex: none;
        width: 48px !important;
      }
    }

    &.swiper-button-disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &.--prev {
      width: 56px !important;
    }

    &.--next {
      width: 108px;
      flex: none;
      .alert-small {
        display: none;
      }
      @media (max-width: 1000px) {
        width: 48px;
        .alert-small {
          display: inline-block;
          transform: rotate(180deg);
        }
        .alert-big {
          display: none;
        }
      }
    }

    svg {
      path {
        transition: fill 0.4s ease-in-out;
      }
    }

    @media (min-width: 1001px) {

      &:focus-visible,
      &:hover {
        background-color: var(--violet, #381067);

        svg {
          path {
            fill: var(--white);
          }
        }
      }

    }
  }
}