.x2_j_swiper-card-product {
  .swiper-slide {
    box-sizing: border-box;
    height: auto;
  }
  &-pagination {
    position: absolute;
    z-index: 3;
    bottom: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
    @media (min-width: 1101px) {
      opacity: 0;
      visibility: hidden;
    }
    .swiper-pagination-bullet {
      position: relative;
      margin: 0 !important;
      border-radius: 0;
      width: 100%;
      height: 4px;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 10px;
        bottom: 0;
        left: 0;
      }
      &.swiper-pagination-bullet-active {
        height: 6px;
        background: var(--violet, #381067) !important;
      }
    }
  }
}