.x2_j_swiper-filter-top {
  .swiper-slide {
    box-sizing: border-box;
    height: auto;
    width: auto;
  }
  @media (max-width: 1100px) {
    padding: 0 24px;
  }
  @media (max-width: 1000px) {
    padding: 0 16px;
  }
}